!**/src/main/**
!**/src/test/**

# ignore all stuff in .private folder
.private/

# ignore all stuff in .gradle and build folder
build/
out/
.gradle/

# ignore IntelliJ IDEA files
.idea/
.idea/compiler.xml
.idea/misc.xml
*.iws
*.iml
*.ipr

# ignore all logs
*.log

# docker env file
src/main/docker/env.txt

# node
node_modules/
node/
dist/
.frontend-gradle-plugin/
