!**/src/main/**
!**/src/test/**

# ignore all stuff in .private folder
.private/

# ignore docker .secrets folder
.secrets/

# ignore all stuff in target and build folder
target/
build/

# ignore IntelliJ IDEA files
.idea/
.idea/compiler.xml
.idea/misc.xml
*.iws
*.iml
*.ipr

# ignore all logs
*.log

# docker env file
src/main/docker/env.txt

node_modules