<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link href="https://metal-detector.rocks/css/email.css" rel="stylesheet" />
</head>
<body>
<div id="email">
    <div id="logo">
        <img alt="Logo" class="img-center" src="https://metal-detector.rocks/images/logo-black.png"/>
    </div>
    <div id="content">
        <section layout:fragment="content"></section>
    </div>
</div>
</body>
</html>
