<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Confirm Create Import Job</title>
</head>
<body>
    <div th:fragment="dialog" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to create a new import job?
                All release sources are queried for their new releases.
                The completion can take several minutes.
            </div>
            <div class="modal-footer">
                <button type="button" id="import-button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>
