<!DOCTYPE html>
<html layout:decorate="~{admin/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Import</title>
    <link th:href="@{/css/datatables.custom.css}" href="#" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>
    <script th:src="@{/js/admin/import.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <h1 class="h2 text-dark">Import</h1>
        <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#confirm-import-dialog">
            Create Import Job
        </button>
        <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#confirm-cover-retry-dialog">
            Create Retry Cover Download Job
        </button>

        <table id="import-job-table" class="table table-striped table-hover mt-3 clickable-table">
            <thead>
            <tr>
                <th scope="col">Source</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Duration</th>
                <th scope="col">Total count requested</th>
                <th scope="col">Total count imported</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody id="import-job-data">
            </tbody>
        </table>

        <!-- Confirm Dialogs -->
        <div id="confirm-import-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div th:replace="admin/import/confirm-import :: dialog"></div>
        </div>
        <div id="confirm-cover-retry-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div th:replace="admin/import/confirm-cover-retry :: dialog"></div>
        </div>
    </section>
</body>
</html>
