<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update User</title>
</head>
<body>
    <div th:fragment="dialog" class="modal-dialog default-modal-dialog-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="update-user-form-close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="update-user-validation-area" class="small" role="alert">
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-master-data-tab" data-toggle="tab" href="#nav-master-data" role="tab" aria-controls="nav-home" aria-selected="true">Master data</a>
                        <a class="nav-item nav-link" id="nav-meta-data-tab" data-toggle="tab" href="#nav-meta-data" role="tab" aria-controls="nav-home" aria-selected="true">Meta data</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- Master data -->
                    <div class="tab-pane fade show active mt-3 ms-2" id="nav-master-data" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form method="post" action="#" id="update-user-form">
                            <fieldset>
                                <!-- Public Id -->
                                <div class="form-group row">
                                    <label for="update-public-id" class="col-sm-4 col-form-label">Public Id</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="update-public-id" readonly class="form-control-plaintext" />
                                    </div>
                                </div>

                                <!-- Username-->
                                <div class="form-group row">
                                    <label for="update-username" class="col-sm-4 col-form-label">Username</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="update-username" readonly class="form-control-plaintext" />
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group row">
                                    <label for="update-email" class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" id="update-email" readonly class="form-control-plaintext" />
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="form-group row">
                                    <label for="update-type" class="col-sm-4 col-form-label">Type</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="update-type" readonly class="form-control-plaintext" />
                                    </div>
                                </div>

                                <!-- Role -->
                                <div class="form-group row">
                                    <label for="update-role" class="col-sm-4 col-form-label">Role</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="update-role">
                                            <option>Administrator</option>
                                            <option>User</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Status -->
                                <div class="form-group row">
                                    <label for="update-status" class="col-sm-4 col-form-label">Status</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="update-status">
                                            <option>Enabled</option>
                                            <option>Disabled</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <!-- Meta data -->
                    <div class="tab-pane fade mt-3 ms-2" id="nav-meta-data" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- Last login -->
                        <div class="form-group row">
                            <label for="update-last-login" class="col-sm-4 col-form-label">Last login</label>
                            <div class="col-sm-8">
                                <input type="text" id="update-last-login" readonly class="form-control-plaintext" />
                            </div>
                        </div>

                        <!-- Created by -->
                        <div class="form-group row">
                            <label for="update-created-by" class="col-sm-4 col-form-label">Created by</label>
                            <div class="col-sm-8">
                                <input type="text" id="update-created-by" readonly class="form-control-plaintext" />
                            </div>
                        </div>

                        <!-- Creation date-->
                        <div class="form-group row">
                            <label for="update-created-date-time" class="col-sm-4 col-form-label">Creation date</label>
                            <div class="col-sm-8">
                                <input type="text" id="update-created-date-time" readonly class="form-control-plaintext" />
                            </div>
                        </div>

                        <!-- Last modified by -->
                        <div class="form-group row">
                            <label for="update-last-modified-by" class="col-sm-4 col-form-label">Last modified by</label>
                            <div class="col-sm-8">
                                <input type="text" id="update-last-modified-by" readonly class="form-control-plaintext" />
                            </div>
                        </div>

                        <!-- Last modified date-->
                        <div class="form-group row">
                            <label for="update-last-modified-date-time" class="col-sm-4 col-form-label">Last modified date</label>
                            <div class="col-sm-8">
                                <input type="text" id="update-last-modified-date-time" readonly class="form-control-plaintext" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn" id="update-user-button">Update</button>
                <button type="button" class="btn btn-danger btn" id="cancel-update-user-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>
