<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Metal Detector</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="96x96">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="description" content="Mark your favorite metal bands and receive regular notifications about upcoming and recently released albums." />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- Do not use '<sec:csrfMetaTags />' here!, see https://trello.com/c/bmaEDU8T -->
    <sec:csrfMetaTags></sec:csrfMetaTags>

    <!-- CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/frontend.css}" href="#" rel="stylesheet" />
    <link th:href="@{/css/frontend.responsive-navbar.css}" href="#" rel="stylesheet" />
    <link th:href="@{/css/common.css}" href="#" rel="stylesheet" />

    <!-- Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Material+Icons}" rel="stylesheet">

    <!-- JavaScript -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}" src="#"></script>
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <nav>
                <input type="checkbox" id="show-search">
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon">
                    <span class="material-icons"></span>
                </label>
                <div class="logo">
                    <a href="#" th:href="@{/home}">
                        <img th:src="@{/images/logo.png}" alt="Logo" src="#" width="280" />
                    </a>
                </div>
                <form class="search-box" action="#" th:action="@{/artists/search}" method="GET">
                  <label for="query"></label>
                  <input id="query" autocomplete="off" type="text" class="form-control" th:name="query" placeholder="Search artist" required>
                </form>
                <ul class="links">
                    <li>
                        <a th:classappend="${#request.requestURI == '/home' ? 'active':''}" href="#" th:href="@{/home}">Home</a>
                    </li>
                    <li >
                        <a th:classappend="${#request.requestURI == '/blog' ? 'active':''}" href="#" th:href="@{/blog}">Blog</a>
                    </li>
                    <li>
                        <a th:classappend="${#request.requestURI == '/my-artists' ? 'active':''}" href="#" th:href="@{/my-artists}">My Artists</a>
                    </li>
                    <li>
                        <a th:classappend="${#request.requestURI == '/releases' ? 'active':''}" href="#" th:href="@{/releases}">Releases</a>
                    </li>
                    <!-- This item is only displayed in the mobile menu. -->
                    <li>
                        <input type="checkbox" id="show-profile-and-settings">
                        <label for="show-profile-and-settings">Profile and Settings</label>
                        <ul>
                            <li>
                                <a class="dropdown-item" th:classappend="${#request.requestURI == '/settings/account-details' ? 'active':''}" href="#" th:href="@{/settings/account-details}">Account details</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:classappend="${#request.requestURI == '/settings/spotify-synchronization' ? 'active':''}" href="#" th:href="@{/settings/spotify-synchronization}">Spotify synchronization</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:classappend="${#request.requestURI == '/settings/notification-settings' ? 'active':''}" href="#" th:href="@{/settings/notification-settings}">Notification settings</a>
                            </li>
                            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Admin area</a></li>
                            <li><a class="dropdown-item logout-link" href="#" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <label for="show-search" class="search-icon">
                    <span class="material-icons"></span>
                </label>
                <form action="#" class="mobile-search-box" th:action="@{/artists/search}" method="GET">
                    <input id="mobile-query" autocomplete="off" th:name="query" type="text" placeholder="Search for your favourite artist..." required>
                    <button type="submit" class="go-icon"><span class="material-icons">double_arrow</span></button>
                </form>
                <ul class="setting-links desktop-link">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Profile photo" class="avatar avatar-xs" />
                        </a>
                        <div class="dropdown-menu dark-dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarUserDropdown">
                            <a class="dropdown-item dark-dropdown-item" href="#" th:href="@{/settings/account-details}">Account details</a>
                            <a class="dropdown-item dark-dropdown-item" href="#" th:href="@{/settings/spotify-synchronization}">Spotify synchronization</a>
                            <a class="dropdown-item dark-dropdown-item" href="#" th:href="@{/settings/notification-settings}">Notification settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dark-dropdown-item" href="#" target="_blank" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Admin area</a>
                            <a class="dropdown-item dark-dropdown-item logout-link" href="#" th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
        </form>
    </header>

    <main role="main">
        <div class="container mt-3 mb-3">
            <div class="content">
                <section layout:fragment="content"></section>
            </div>
        </div>
    </main>

    <footer>
        <div class="container p-3">
            <div class="divider"></div>
        </div>
        <div class="container">
            <div class="flex-wrapper">
                <ul class="list-inline flex-item">
                    <li class="list-inline-item">
                        <a class="dark-hyperlink" href="#" th:href="@{https://www.buymeacoffee.com/metaldetector}" target=_blank rel="noopener noreferrer me" title="Buy us a beer">
                            <img class="footer-icon" src="#" alt="Buy us a beer logo" th:src="@{/images/buy-us-a-beer-logo.png}" />
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="dark-hyperlink" href="#" th:href="@{https://www.instagram.com/metaldetector.rocks/}" target=_blank rel="noopener noreferrer me" title="Find us on Instagram">
                            <img class="footer-icon" src="#" alt="Instagram Logo" th:src="@{/images/instagram-logo.png}" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="dark-hyperlink" href="#" th:href="@{https://github.com/MetalDetectorRocks?tab=repositories}" target=_blank rel="noopener noreferrer me" title="Find us on GitHub">
                            <img class="footer-icon" src="#" alt="GitHub Logo" th:src="@{/images/github-logo.png}" />
                        </a>
                    </li>
                </ul>
                <ul class="list-inline flex-item">
                    <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{https://stats.uptimerobot.com/WowYOCjRAV}" target="_blank">Website Status</a></li>
                    <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{/imprint}">Imprint</a></li>
                    <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{/privacy-policy}">Privacy policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="scroll-top">
        <span class="material-icons md-light md-42">keyboard_arrow_up</span>
    </div>
    <div id="toast-wrapper"></div>
</body>
</html>
