<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Metal Detector</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="96x96">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <!-- Do not use '<sec:csrfMetaTags />' here!, see https://trello.com/c/bmaEDU8T -->
  <sec:csrfMetaTags></sec:csrfMetaTags>

  <!-- CSS -->
  <link th:nonce="${random}" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
  <link th:nonce="${random}" th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" href="#" rel="stylesheet" type="text/css" />
  <link th:nonce="${random}" th:href="@{/css/frontend.css}" href="#" rel="stylesheet" />
  <link th:nonce="${random}" th:href="@{/css/frontend.navbar.css}" href="#" rel="stylesheet" />
  <link th:nonce="${random}" th:href="@{/css/common.css}" href="#" rel="stylesheet" />

  <!-- Font -->
  <link th:nonce="${random}" href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

  <!-- JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script th:nonce="${random}" th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
  <script th:nonce="${random}" th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
  <script th:nonce="${random}" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>
  <script th:nonce="${random}" th:src="@{/js/common.js}" src="#"></script>

  <!-- Material Icons -->
  <link th:nonce="${random}" th:href="@{/webjars/material-icons/iconfont/material-icons.css}" href="/webjars/material-icons/0.3.1/iconfont/material-icons.css" rel="stylesheet">
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="#" th:href="@{/home}"><img class="navbar-brand mb-0 h1" th:src="@{/images/logo.png}" alt="Logo" src="#" width="300" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="search-form form-group" action="#" th:action="@{/artists/search}" method="GET">
              <label for="query"></label>
              <input id="query" autocomplete="off" type="text" class="form-control" th:name="query" placeholder="Search artist" required>
            </form>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI == '/blog' ? 'active':''}" href="#" th:href="@{/blog}">Blog</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" th:classappend="${#request.requestURI == '/my-artists' ? 'active':''}" href="#" th:href="@{/my-artists}">My Artists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI == '/releases' ? 'active':''}" href="#" th:href="@{/releases}">Releases</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Profile photo" class="avatar avatar-xs" />
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                  <p class="pl-4 pr-2">Signed in as <span sec:authentication="name" class="font-weight-bold">Username</span></p>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" th:href="@{/settings/account-details}">Account details</a>
                  <a class="dropdown-item" href="#" th:href="@{/settings/spotify-synchronization}">Spotify synchronization</a>
                  <a class="dropdown-item" href="#" th:href="@{/settings/notification-settings}">Notification settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" target="_blank" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Admin area</a>
                  <a id="logout-link" class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
      </form>
    </header>

    <main role="main">
      <div class="container mt-3 mb-3">
        <div class="content">
          <section layout:fragment="content"></section>
        </div>
      </div>
    </main>

    <footer>
      <div class="container p-3">
        <div class="row float-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{https://github.com/MetalDetectorRocks?tab=repositories}" target="_blank">Find us on GitHub</a></li>
            <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{https://github.com/MetalDetectorRocks/metal-detector-main/issues/new?assignees=&labels=&template=feature_request.md&title=}" target="_blank">Request a feature</a></li>
            <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{https://github.com/MetalDetectorRocks/metal-detector-main/issues/new?assignees=&labels=&template=bug_report.md&title=}" target="_blank">Report an issue</a></li>
<!--            <li class="list-inline-item"><a class="dark-hyperlink" href="#" target="_blank">Spend a beer</a></li>-->
            <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{/imprint}">Imprint</a></li>
            <li class="list-inline-item"><a class="dark-hyperlink" href="#" th:href="@{/privacy-policy}">Privacy policy</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <button class="scroll-to-top" id="back-to-top-button">
      <span class="material-icons">keyboard_arrow_up</span>
    </button>
    <div id="toast-wrapper"></div>

    <script th:nonce="${random}">
        $(document).ready( function() {
            registerLogoutListener();
        });
    </script>
  </body>
</html>
