@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/material-icons/material-icons.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}

.topbar {
  margin: 0;
  padding: 0;
  background: #202124;
  width: 100%;
}

.topbar .nav-link{
  color: lightgray;
}

.topbar .nav-link:hover{
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 12em;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #FCFCFC;
}

.sidebar .nav-item a {
  display: block;
  text-decoration: none;
}

.sidebar a.active {
  background-color: rgba(0, 0, 0, .05);
}

.sidebar a:hover:not(.active) {
  background-color: rgba(0, 0, 0, .1);
}

div.content {
  margin-left: 12.5em;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  div.content {
    margin-left: 0;
  }
}

.default-modal-dialog-width {
  max-width: 35rem;
}

.large-modal-dialog-width {
  max-width: 40rem;
}
