body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.topbar {
  margin: 0;
  padding: 0;
  background: #202124;
  width: 100%;
}

.topbar .nav-link{
  color: lightgray;
}

.topbar .nav-link:hover{
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 12em;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #FCFCFC;
}

.sidebar .nav-item a {
  display: block;
  text-decoration: none;
}

.sidebar a.active {
  background-color: rgba(0, 0, 0, .05);
}

.sidebar a:hover:not(.active) {
  background-color: rgba(0, 0, 0, .1);
}

div.content {
  margin-left: 12.5em;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  div.content {
    margin-left: 0;
  }
}

.default-modal-dialog-with {
  max-width: 35rem;
}

.large-modal-dialog-with {
  max-width: 40rem;
}

/*
 * Material icons
 */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  vertical-align: bottom;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-success { color: #155724; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
