/* Color variables */
:root {
  --guest-dark-background-color: #060606;
  --guest-light-foreground-color: #ADAFAE;
  --guest-dark-foreground-color: #424242;
  --guest-card-dark-background-color: #282828;
  --guest-card-dark-border-color: #555555;
  --guest-dark-button-background-color: #555555;
  --guest-dark-button-hover-background-color: #424242;
  --guest-hyperlink-foreground-color: #2a9fd6;
  --guest-hyperlink-hover-foreground-color: #1F6485;
}
body {
  color: var(--guest-light-foreground-color);
  background-color: var(--guest-dark-background-color);
}
a {
  text-decoration: none;
  color: var(--guest-hyperlink-foreground-color);
}
a:hover {
  color: var(--guest-hyperlink-hover-foreground-color);
}
.home-button {
  width: 8rem;
}
.auth-container {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  margin: auto;
  background-color: var(--guest-card-dark-background-color);
  border: var(--guest-card-dark-border-color) 1px solid;
}
.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 1.5rem 0;
}
.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: .06rem;
}
.or-label {
  flex-grow: 1;
  margin: 0 0.75rem;
  text-align: center
}
.dark-foreground {
  color: var(--guest-dark-foreground-color);
}

/* Overrides */
.btn-secondary {
  background-color: var(--guest-dark-button-background-color);
  border: 0;
}
.btn-secondary:hover {
  background-color: var(--guest-dark-button-hover-background-color);
  border: 0;
}
