.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3em;
  object-fit: cover;
  border: 1px solid white;
}

.avatar-xl {
  width: 6rem;
  height: 6rem;
}

.avatar-s {
  width: 3rem;
  height: 3rem;
}

.avatar-xs {
  width: 2rem;
  height: 2rem;
}

.clickable-table {
  cursor: pointer;
}

.loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: loader .6s linear infinite;
}

@keyframes loader {
  to {transform: rotate(360deg);}
}

.pointer {
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Toast */
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #adafae;
  text-align: center;
  padding: 0.8rem;
  position: fixed;
  z-index: 1;
  right: 2rem;
  bottom: 2rem;
}

#toast.info {
  background-color: #182030;
  border: 1px solid #246;
}

#toast.success {
  color: black;
  background-color: #77B300;
  border: 1px solid #2f3e0f;
}

#toast.error {
  background-color: rgba(85, 6, 6, 0.50);
  border: 1px solid #ea1717;
}

#toast.show {
  visibility: visible;
  /* Take 0.5 seconds to fade in and 0.6 seconds (to avoid flickering) to fade out the toast.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.6s 2.5s;
  animation: fadein 0.5s, fadeout 0.6s 2.5s;
}

/* Fading Overlay */
.overlay {
  opacity: 0;
}

.overlay-wrapper:hover .overlay {
  opacity: 1;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Tooltip */
.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .tooltip-text {
  visibility: hidden;
  width: 170px;
  background-color: #1D1D1D;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.8s;
}

.custom-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1D1D1D transparent transparent transparent;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 0.8;
}

/*
 * Material icons
 */
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-flex;
  vertical-align: top;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-success { color: #155724; }
.material-icons.md-red { color:darkred; }
.material-icons.md-light { color: var(--light-font-color)}
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Fade-in / Fade-out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Sticky */
.sticky {
  position: sticky;
  top: 0;
}

/* Slider */
.slider-header {
  display: flex;
  justify-content: space-between;
}
.slider {
  display: flex;
  justify-content: left;
}
.slider-content {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.slider-items {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 15px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 700px) {
  .grabbable {
    cursor: url(openhand.cur), default !important;
  }
  .grabbing {
    cursor: grabbing;
  }
  .slider-items {
    -webkit-transition: off;
    transition: off;
    pointer-events: none;
  }
}
