.table td, .table th {
    padding: .75rem;
}
.page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
}
.page-item.active a {
    color: #fff;
}
.page-link {
    color: #343a40;
}
.page-item.disabled a {
    color: #6c757d;
}
.page-link:hover {
    color: #343a40;
}
