/* Color variables */
:root {
    --primary-background-color: #02040A;
    --secondary-background-color: #0E1117;
    --grey-border-color: #404040;
    --grey-border-color-highlight: #5a5a5a;
    --grey-hover-color: #323232;
    --menu-foreground-color: #fcfcfc;
    --menu-foreground-hover-color: #ccc;
    --dark-field-background-color: #0E1117;
    --font-color: #d3d3d3;
    --muted-font-color: #818181;
    --muted-highlight-font-color: var(--font-color);
    --dark-font-color: #181818;
    --light-hyperlink-font-color: #2a9fd6;
    --light-hyperlink-font-color-highlight: #1d7097;
    --dark-card-background-color: #282828;
    --dark-card-footer-background-color: #262626;
    --light-badge-background-color: #adafae;
}

/* General Styling */
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    /* push footer to the bottom */
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* other */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--primary-background-color);
}
h1, h2 {
    font-family: 'Metal Mania', cursive;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
ul, ol, p, legend, label {
    color: var(--font-color);
}
h1, h2 {
    font-family: 'Metal Mania', cursive;
    text-shadow: 2px 2px var(--grey-border-color);
}
h5, .h5 {
    font-size: 1.3rem;
}
h6, .h6 {
    font-size: 0.875rem;
}
hr {
    margin-top: 0;
}
a,
.a {
    color: var(--light-hyperlink-font-color);
    text-decoration: none;
}
a:hover,
.a:hover {
    color: var(--light-hyperlink-font-color-highlight);
    text-decoration: none;
}
.container {
    max-width: 1280px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Jumbotron */
.jumbotron {
    border-bottom: 1px solid var(--grey-border-color);
    background-image: url("/images/jumbotron.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
.jumbotron-text h1 {
    font-size: 400%;
    text-shadow: 2px 2px var(--grey-border-color);
}
.jumbotron-text p {
    font-size: 155%;
    text-shadow: 2px 2px var(--grey-border-color);
    width: 650px;
}

/* Footer */
footer {
    font-size: 0.9rem;
    margin-top: auto;
}
footer .divider {
    border-top: 1px solid var(--grey-border-color);
    padding-left: 20px;
    padding-right: 20px;
}
footer .flex-wrapper {
    display: flex;
    justify-content: space-between;
}
footer .footer-icon {
    height: 24px;
    filter: grayscale(90%);
}
footer .footer-icon:hover {
    filter: grayscale(0);
}

/* Homepage */
#homepage-wrapper h2 {
    text-align: center;
    margin-bottom: 0;
}
#homepage-wrapper .headline-separator {
    background-image: url("/images/headline-separator.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 10px;
}
#homepage-wrapper .section {
    margin-bottom: 75px;
}

/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25%;
    justify-content: space-between;
}
.feature-item {
    width: 24%;
    text-align: center;
}

/* Swiper */
.detector__swiper {
    display: flex;
}
.detector__swiper .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.detector__swiper .swiper-navigation {
    width: 50px;
    margin-top: 100px;
}
.detector__swiper .swiper-item {
    width: 23%;
    text-align: center;
}
.detector__swiper img {
    width: 230px;
}
.detector__swiper .swiper-title {
    color: var(--font-color);
    font-size: 150%;
}
.detector__swiper .swiper-subtitle {
    color: var(--font-color);
}

/* Profile */
.profile {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto auto 40px;
}
.profile h3 {
    margin-top: 10px;
}
.profile-text {
    margin-left: 30px;
}
.profile-text-reverse {
    margin-right: 30px;
}
.profile-text p {
    line-height: 28px;
}

/* Blog Posts */
#homepage-wrapper .blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25%;
    justify-content: space-between;
}
#homepage-wrapper .blog-posts .blog-post-item {
    width: 325px;
}
#homepage-wrapper .blog-posts .blog-post-cover {
    position: relative;
}
#homepage-wrapper .blog-posts .blog-post-date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--dark-card-background-color);
    width: 90px;
    height: 50px;
    color: var(--font-color);
    display: flex;
    justify-content: space-evenly;
}
#homepage-wrapper .blog-posts .blog-post-date .day {
    font-weight: 600;
    font-size: 200%;
    align-self: center;
}
#homepage-wrapper .blog-posts .blog-post-date .month-and-year {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
#homepage-wrapper .blog-posts .blog-post-date .month,
#homepage-wrapper .blog-posts .blog-post-date .year {
    text-transform: uppercase;
    font-size: 80%;
}
#homepage-wrapper .blog-posts img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--grey-border-color);
}

/* Cards */
.card {
    border: 1px solid var(--grey-border-color);
}
.card:hover > .follow-icon-my-artists {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.vertical-card-img {
    height: 18rem;
    object-fit: cover;
    border-bottom: 1px solid var(--grey-border-color);
}
.card-title {
    font-size: 1.3rem;
}
.dark-card {
    background-color: var(--dark-card-background-color);
}
.dark-card-body {
    background-color: var(--dark-card-background-color);
}
.dark-card-footer {
    background-color: var(--dark-card-footer-background-color);
}

/* Pagination */
#pagination-wrapper {
    display: flex;
    justify-content: flex-end;
}
.page-link,
.page-item.disabled .page-link {
    background-color: var(--dark-card-footer-background-color);
    border: 0;
}
.page-link:hover,
.page-item.active .page-link {
    background-color: var(--light-hyperlink-font-color-highlight);
    color: white;
}

/* My Artists */
#my-artists-wrapper.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25%;
}
#my-artists-wrapper .flex-item {
    position: relative;
    width: 24%;
}
#my-artists-wrapper .card-footer {
    padding: 0.75rem 0.5rem;
}

/* Search Results */
#search-result-wrapper,
#search-results-page #pagination-wrapper {
    width: 60%;
    margin: auto;
}
#search-result-item-wrapper {
    width: 100%;
    display: flex;
}
#search-result-wrapper .search-result-item:nth-child(1) {
    flex-basis: 25%;
    margin-right: 10px;
}
#search-result-wrapper .search-result-item:nth-child(2) {
    flex-basis: 70%;
}
#search-result-wrapper .search-result-item:nth-child(3) {
    flex-basis: 5%
}
.search-card-img {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 8px;
}

/* Following */
.follow-icon-my-artists {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.follow-icon-search {
    cursor: pointer;
    opacity: 0.75;
}
.follow-icon-search:hover {
    opacity: 1;
}
.follow-icon-my-artists:hover {
    opacity: 0.5;
}
.followed-since-icon {
    opacity: 0.5;
    margin-bottom: 0.15rem;
}

/* Releases */
#releases-wrapper {
    width: 75%;
}
#releases-filter-canvas {
    width: 25%;
    border-left: 2px solid var(--grey-border-color);
    display: block;
}
#offcanvas {
    background: var(--secondary-background-color);
    border-left: 1px solid var(--grey-border-color);
}
.offcanvas-header {
    border-bottom: 1px solid var(--grey-border-color);
}
#release-search-wrapper {
    border: 1px solid var(--grey-border-color);
    border-radius: 3px;
    width: 250px;
}
#release-search {
    padding-right: 0;
    border-radius: 0;
}
#release-search:focus {
    outline: none 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.release-card {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--grey-border-color);
    border-radius: .25rem;
}
.release-cover-img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-right: 1px solid var(--grey-border-color);
}

/* Notification Settings */
#notification-settings-container .collapse-content {
    padding: 0.25rem 1.25rem;
}
#notification-settings-container .btn:focus {
    box-shadow: unset;
}
#notification-settings-container #email-frequency-select {
    max-width: 200px;
}

/* Spotify Synchronization */
#spotify-artists-container {
    min-height: 15rem;
}
#spotify-artists-container .flex-wrapper {
    display: flex;
}
#spotify-artists-container .artist-info {
    margin-left: 15px;
    flex-grow: 2;
}
#spotify-artists-container .checkbox {
    align-self: center;
    margin-right: 15px;
}
#spotify-artists-container .image img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}
#spotify-artists-container .card:hover {
    border-color: var(--grey-border-color-highlight);
}

/* Blog */
.blog-card {
    min-height: 33.5rem;
}

.blog-intro-text {
    min-height: 5.5rem;
}

.blog-title {
    color: var(--font-color);
}

.blog-card-img {
    height: 15rem;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid var(--grey-border-color);
}

.blog-content {
    width: 750px;
}

.blog-post-author {
    border-top: 1px dashed var(--grey-border-color);
    border-bottom: 1px dashed var(--grey-border-color);
}

.blog-text {
    font-size: larger;
}

#blog-author-begin {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#blog-author-end {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.author-link{
    font-size: x-large;
    font-weight: bold;
    color: var(--muted-font-color);
}

.author-link:hover {
    color: var(--light-hyperlink-font-color-highlight)
}

/* Other */
.dark-hyperlink {
    color: var(--muted-font-color);
    background-color: transparent
}
.dark-hyperlink:hover {
    color: var(--muted-highlight-font-color);
}
.dark-modal-content {
    background-color: var(--dark-card-background-color);
}
.dark-modal-header {
    border-bottom: 1px solid var(--grey-border-color);
}
.dark-modal-footer {
    border-top: 1px solid var(--grey-border-color);
}
.dark-accordion-button {
    background-color: var(--dark-card-footer-background-color);
}
.dark-accordion-button,
.dark-accordion-button:focus,
.dark-accordion-button:not(.collapsed) {
    background-color: var(--dark-card-footer-background-color);
}
.dark-accordion-item {
    background-color: var(--dark-card-background-color);
}
.dark-dropdown-menu {
    background-color: var(--dark-card-background-color);
}
.dark-dropdown-item,
.dark-dropdown-item:hover,
.dark-dropdown-item:active {
    color: var(--font-color);
}
.light-hyperlink {
    color: var(--light-hyperlink-font-color);
    background-color: transparent
}
.light-hyperlink:hover {
    color: var(--light-hyperlink-font-color-highlight);
}
.scroll-top {
    height: 50px;
    width: 50px;
    background: var(--dark-card-background-color);
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: .3s ease-in-out transform;
    animation: fadeinscrolltop 1s;
}
@keyframes fadeinscrolltop {
    from {opacity: 0;}
    to {opacity: 1;}
}
.scroll-top:hover {
    transform: scale(1);
}
.btn-input {
    background: var(--dark-field-background-color);
    color: var(--menu-foreground-color);
    border: 0 solid transparent;
    border-radius: 0;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.btn-white {
    color: var(--menu-foreground-color);
    border-color: var(--menu-foreground-color);
}
.btn-white:hover {
    color: var(--menu-foreground-hover-color);
    border-color: var(--menu-foreground-hover-color);
}

/* Form Controls */
.custom-form-control {
    background-color: var(--dark-field-background-color);
    color: var(--font-color) !important;
    border-color: var(--grey-border-color);
}
.custom-form-control:focus {
    background-color: var(--dark-field-background-color);
}
.custom-form-control::placeholder {
    color: var(--muted-font-color);
}
.custom-form-control-borderless,
.custom-form-control-borderless:focus {
    border: 0;
}

/* Overrides */
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
    color: var(--font-color);
}
.alert-primary {
    background-color: var(--dark-card-footer-background-color);
    color: var(--font-color);
    border: 1px solid var(--grey-border-color);
}
.alert-primary .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
}
.alert-success {
    background-color: #198754;
    color: white;
    border: 0;
}
.alert-danger {
    background-color: #CC0000;
    border: 0;
}
.alert-danger,
.alert-danger h3 {
    color: white;
}
.alert-warning {
    background-color: #FF8800;
    color: white;
    border: 0;
}
.page-link {
    color: #adafae;
}
.dropdown-menu {
    font-size: 1rem;
    border: 1px solid var(--grey-border-color);
}
.dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.dropdown-item:hover {
    background-color: var(--grey-hover-color);
}
.card-body {
    padding: 1.25rem 1.25rem 0;
    min-height: 5rem;
}
.card-footer {
    padding: 0.75rem 1.25rem;
}
.dismissible-button {
    width: max-content;
    padding-left: 1.75rem;
}
.badge-dark {
    color: var(--dark-font-color);
    background-color: var(--light-badge-background-color);
}
.text-muted {
    color: var(--muted-font-color) !important;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

/* Utils */
.font-size-s {
    font-size: 0.875rem;
}
.font-color-red {
    color: darkred;
}
.font-color-green {
    color: darkgreen;
}
.font-color-light {
    color: var(--font-color);
}
.font-metal-mania {
    font-family: 'Metal Mania', cursive;
}
.img-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.img-round {
    border-radius: 50%;
}
.img-greyscale {
    filter: grayscale(80%);
}
.grey-border {
    border: 1px solid var(--grey-border-color);
    border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .profile {
        width: 80%;
    }

    #releases-wrapper {
        width: 100%;
    }
    #releases-filter-canvas {
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .feature-item {
        width: 45%;
    }

    #homepage-wrapper .blog-posts {
        flex-direction: column;
        align-items: center;
    }
    #homepage-wrapper .blog-posts .blog-post-item {
        width: 400px;
        margin-bottom: 20px;
    }

    .profile {
        width: 95%;
    }
    .profile h3 {
        margin-top: 0;
    }

    footer .flex-wrapper {
        flex-direction: column-reverse;
    }
    footer .flex-wrapper .flex-item {
        width: 100%;
        text-align: center;
    }

    #search-result-wrapper,
    #search-results-page #pagination-wrapper {
        width: 80%;
    }
    #search-result-wrapper .search-result-item:nth-child(1) {
        flex-basis: 20%;
    }
    #search-result-wrapper .search-result-item:nth-child(2) {
        flex-basis: 75%;
    }

    #my-artists-wrapper .flex-item {
        width: 32.5%;
    }
}
@media screen and (max-width: 700px) {
    .jumbotron-text h1 {
        font-size: 300%;
    }
    .jumbotron-text p {
        font-size: 120%;
        width: 80%;
    }

    .features {
        justify-content: center;
    }
    .feature-item {
        margin-top: 20px;
        width: 70%;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile h3 {
        margin-top: 15px;
    }
    .profile-reverse {
        flex-direction: column-reverse;
    }
    .profile-text {
        margin-left: 0;
    }
    .profile-text-reverse {
        margin-right: 0;
    }

    #my-artists-wrapper.flex-wrapper {
        justify-content: space-evenly;
    }
    #my-artists-wrapper .flex-item {
        width: 80%;
    }
    #my-artists-wrapper .vertical-card-img {
        min-height: 27.5rem;
    }
    #my-artists-wrapper .card-body,
    #my-artists-wrapper .card-footer {
        text-align: center;
    }
    #my-artists-wrapper .card-title {
        font-size: 2rem;
    }

    #search-result-wrapper,
    #search-results-page #pagination-wrapper {
        width: 100%;
    }

    #pagination-wrapper {
        justify-content: center;
    }

    .release-card {
        flex-direction: column;
    }
    .release-card .release-cover {
        margin: 10px auto auto;
    }
    .release-card .release-details {
        text-align: center;
    }

    #spotify-artists-container .checkbox {
        align-self: start;
        margin-top: 5px;
        margin-right: 5px;
    }
    #spotify-artists-container .checkbox span {
        font-size: 20px !important;
    }
    #spotify-artists-container .artist-info {
        margin-right: 0;
    }
    #spotify-artists-container p {
        margin-bottom: 2px;
    }

    #dashboard-container {
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media screen and (max-width: 500px) {
    .jumbotron-text p {
        width: 100%;
    }

    .feature-item {
        width: 90%;
    }

    #homepage-wrapper .blog-posts .blog-post-item {
        width: 90%;
    }

    #my-artists-wrapper .flex-item {
        width: 100%;
    }
    #my-artists-wrapper .vertical-card-img {
        min-height: 22.5rem;
    }
}
