nav .container {
    max-width: 1440px;
}

.navbar {
    padding: 0;
    background-color: var(--dark-background-color);
    border-bottom: 1px solid var(--grey-border-color);
}

.nav-link {
    position: relative;
    display: block;
    margin-right: 1.5rem;
    text-decoration: none;
    outline: none;
    color: var(--light-font-color);
    font-weight: 600;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}

.nav-link.active {
    color: var(--blue-menu-item-color);
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.lb-nav a.lb-prev {
    background: transparent;
}

.lb-nav a.lb-next {
    background: transparent;
}

.search-form {
    width: 100%;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 1.2rem;
}

.search-form input {
    height: 3rem;
    background-color: var(--dark-field-background-color);
    color: var(--light-font-color) !important;
    border-color: var(--grey-border-color);
    font-size: 1.5rem;
    font-family: 'Metal Mania', cursive;
}

.search-form input:focus {
    background-color: var(--dark-field-background-color);
}

.search-form input::placeholder {
    color: var(--light-font-color-muted);
}
