/* Color variables */
:root {
    --dark-background-color: #181818;
    --grey-border-color: #404040;
    --grey-border-color-highlight: #5a5a5a;
    --grey-hover-color: #323232;
    --menu-foreground-color: #fcfcfc;
    --menu-foreground-hover-color: #767676;
    --dark-field-background-color: #212121;
    --light-font-color: #adafae;
    --light-font-color-highlight: #fcfcfc;
    --light-font-color-muted: #5c5c5c;
    --light-hyperlink-font-color: #1d7097;
    --light-hyperlink-font-color-highlight: #2a90c1;
    --dark-hyperlink-font-color: #555;
    --dark-hyperlink-font-color-highlight: #777;
}

/* General Styling */
html {
    height: 100%;
    margin: 0;
}

body {
    /* push footer to the bottom */
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* other */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-image: url("/images/background.png")
}

h1, h2 {
    font-family: 'Metal Mania', cursive;
}

.h5 {
    font-size: 1.3rem !important;
}

p, legend {
    color: var(--light-font-color) !important;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1280px;
}

.img-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Footer */
footer {
    font-size: 0.9rem;
    margin-top: auto;
}
footer .divider {
    border-top: 1px solid var(--grey-border-color);
    padding-left: 20px;
    padding-right: 20px;
}
footer .flex-wrapper {
    display: flex;
    justify-content: space-between;
}
footer .footer-icon {
    height: 24px;
    filter: grayscale(90%);
}
footer .footer-icon:hover {
    filter: grayscale(0);
}
@media screen and (max-width: 1050px) {
    footer .flex-wrapper {
        flex-direction: column-reverse;
    }
    footer .flex-wrapper .flex-item {
        width: 100%;
        text-align: center;
    }
}

/* Cards */
.card {
    border: 1px solid var(--grey-border-color);
}
.card:hover > .follow-icon-my-artists {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.vertical-card-img {
    height: 18rem;
    object-fit: cover;
    border-bottom: 1px solid var(--grey-border-color);
}
.card-title {
    font-size: 1.3rem;
}

/* My Artists */
#my-artists-wrapper.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
#my-artists-wrapper .flex-item {
    margin-right: 20px;
    position: relative;
    width: 23%;
}
@media screen and (max-width: 1050px) {
    #my-artists-wrapper .flex-item {
        margin-right: 15px;
        width: 31%;
    }
}
@media screen and (max-width: 700px) {
    #my-artists-wrapper.flex-wrapper {
        justify-content: space-evenly;
    }
    #my-artists-wrapper .flex-item {
        width: 90%;
    }
    #my-artists-wrapper .card-body,
    #my-artists-wrapper .card-footer {
        text-align: center;
    }
    #my-artists-wrapper .card-title {
        font-size: 2rem;
    }
}

/* Search Results */
.top-search-card-img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-right: 1px solid var(--grey-border-color);
}

.search-card-img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-bottom: 1px solid var(--grey-border-color);
}

.custom-border-bottom {
    border-bottom: 1px solid var(--grey-border-color);
}

/* Following */
.follow-icon-my-artists {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.follow-icon-search {
    cursor: pointer;
}

.follow-icon-search:hover, .follow-icon-my-artists:hover {
    opacity: 0.5;
}

.followed-since-icon {
    opacity: 0.5;
    margin-bottom: 0.15rem;
}

/* Releases */
.release-cover-img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-right: 1px solid var(--grey-border-color);
}

#release-filter .custom-control {
    margin-bottom: 0.5rem;
}

.custom-border-left {
    border-left: 2px solid var(--grey-border-color);
}

/* Spotify Synchronization */
#artists-container {
    min-height: 15rem;
}

.spotify-synchro-img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-bottom: 1px solid var(--grey-border-color);
}

.spotify-synchro-card:hover {
    border-color: var(--grey-border-color-highlight);
}

.spotify-synchro-checkbox {
    margin-top: 2.2rem;
}

/* Blog */
.blog-card {
    min-height: 33.5rem;
}

.blog-intro-text {
    min-height: 5.5rem;
}

.blog-title {
    color: var(--light-font-color);
}

.blog-card-img {
    height: 15rem;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid var(--grey-border-color);
}

.blog-content {
    width: 750px;
}

.blog-post-author {
    border-top: 1px dashed var(--grey-border-color);
    border-bottom: 1px dashed var(--grey-border-color);
}

.blog-text {
    font-size: larger;
}

#blog-author-begin {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#blog-author-end {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.author-link{
    font-size: x-large;
    font-weight: bold;
    color: var(--dark-hyperlink-font-color);
}

.author-link:hover {
    color: var(--light-hyperlink-font-color)
}

/* Other */
.dark-hyperlink {
    color: var(--dark-hyperlink-font-color);
    text-decoration: none;
    background-color: transparent
}

.dark-hyperlink:hover {
    color: var(--dark-hyperlink-font-color-highlight);
    text-decoration: none;
}

.light-hyperlink {
    color: var(--light-hyperlink-font-color);
    text-decoration: none;
    background-color: transparent
}

.light-hyperlink:hover {
    color: var(--light-hyperlink-font-color-highlight);
    text-decoration: none;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background: linear-gradient(to bottom,rgb(45,45,45) 0%,rgb(40,40,40) 100%);
    border: 0;
    color: var(--light-font-color);
    cursor: pointer;
    border-radius: 10px;
    padding-top: 5px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Form Controls */
.custom-form-control {
    background-color: var(--dark-field-background-color);
    color: var(--light-font-color) !important;
    border-color: var(--grey-border-color);
}

.custom-form-control:focus {
    background-color: var(--dark-field-background-color);
}

.custom-form-control::placeholder {
    color: var(--light-font-color);
}

.sorting-form-control {
    float: right;
    width: auto;
}

/* Overrides */
.alert-light {
    border: 1px solid var(--grey-border-color);
}

.page-link {
    color: #adafae;
}

.dropdown-menu {
    font-size: 1rem;
    border: 1px solid var(--grey-border-color);
}

.dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dropdown-item:hover {
    background-color: var(--grey-hover-color);
}

.card-body {
    padding: 1.25rem 1.25rem 0;
    min-height: 5rem;
}

.dismissible-button {
    width: max-content;
    padding-left: 1.75rem;
}
