<!DOCTYPE html>
<html th:replace="~{admin/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create user</h1>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <form id="registrationForm" name="registrationForm" action="#" th:action="@{/register}" th:object="${registerUserRequest}" method="POST">
                <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                    <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
                </div>
                <div th:if="${emailError}" class="alert alert-danger" role="alert">
                    <span th:text="${emailError}">Email configuration error</span>
                </div>
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <span th:text="${successMessage}">Registration successful</span>
                </div>

                <!-- User name-->
                <div class="form-label-group">
                    <input type="text" id="userName" class="form-control" name="userName"
                           th:class="${#fields.hasErrors('userName')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{userName}"
                           placeholder="User name" required>
                    <div class="invalid-feedback" th:errors="*{userName}">User name error</div>
                    <label for="userName">User name</label>
                </div>

                <!-- EMail-->
                <div class="form-label-group">
                    <input type="email" id="email" class="form-control" name="email"
                           th:class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{email}"
                           placeholder="Email" required>
                    <div class="invalid-feedback" th:errors="*{email}">Email error</div>
                    <label for="email">Email</label>
                </div>

                <!-- Password -->
                <div class="form-label-group">
                    <input type="password" id="password" class="form-control" name="password"
                           th:class="${#fields.hasErrors('password')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{password}"
                           placeholder="Password" required>
                    <div class="invalid-feedback" th:errors="*{password}">Password error</div>
                    <label for="password">Password</label>
                </div>

                <!-- Verify Password -->
                <div class="form-label-group">
                    <input type="password" id="verify-password" class="form-control" name="verify-password"
                           th:class="${#fields.hasErrors('verifyPassword')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{verifyPassword}"
                           placeholder="Password" required>
                    <div class="invalid-feedback" th:errors="*{verifyPassword}">Verify password error</div>
                    <label for="verify-password">Verify Password</label>
                </div>

                <!-- Buttons -->
                <button class="btn btn-primary" type="submit">Create</button>
                <button class="btn btn-primary" type="reset">Clear</button>
                <a href="#" th:href="@{/admin/users}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </body>
</html>