<!DOCTYPE html>
<html th:replace="~{admin/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="admin/fragments/layout :: headerFragment">
        <title id="pageTitle">Users | Metal Release Radar</title>
    </head>
    <body>
        <h1 class="h2 text-dark">Users</h1>

        <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" id="new-admin-user-button" data-toggle="modal" data-target="#admin-user-create-dialog">
            New Administrator
        </button>

        <table id="user-table" class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Public Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Creation Date</th>
                </tr>
            </thead>
            <tbody id="user-data">
            </tbody>
        </table>

        <div id="admin-user-create-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div th:replace="admin/users/create :: dialog"></div>
        </div>
    </body>
</html>
