<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:include="guest/fragments/layout :: headerFragment">
      <title id="pageTitle">Register | Metal Detector</title>
  </head>
  <body>
    <div class="auth-container rounded">
      <h3 class="mb-3">Registration</h3>
      <p>The registration of a new user account is currently not possible. We are currently in a closed beta phase.</p>
      <!-- Username-->
      <div class="form-label-group">
        <input type="text" id="username" class="form-control" name="username" disabled placeholder="" autocomplete="username">
        <label for="username">Username</label>
      </div>

      <!-- Email-->
      <div class="form-label-group">
        <input type="email" id="email" class="form-control" name="email" disabled placeholder="" required>
        <label for="email">Email address</label>
      </div>

      <!-- Password -->
      <div class="small ml-1">Make sure your password has at least 8 characters.</div>
      <div class="form-label-group">
        <input type="password" id="plainPassword" class="form-control" name="plainPassword" disabled placeholder="" autocomplete="new-password">
        <label for="plainPassword">Password</label>
      </div>

      <!-- Verify Password -->
      <div class="form-label-group">
        <input type="password" id="verifyPlainPassword" class="form-control" name="verifyPlainPassword" disabled placeholder="" autocomplete="new-password">
        <label for="verifyPlainPassword">Verify Password</label>
      </div>

      <!-- Register -->
      <button class="btn btn-lg btn-dark btn-block mt-4" type="submit" disabled>Join Metal Detector</button>

      <p class="my-2">
        Already registered? <a href="#" th:href="@{/login}">Login</a>
      </p>
    </div>
  </body>
</html>
