<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:include="guest/fragments/layout :: headerFragment">
      <title id="pageTitle">Register | Metal Detector</title>
  </head>
  <body>
    <div class="auth-container rounded">
      <h1 class="mb-3 h4">Registration</h1>
      <form id="registrationForm" name="registrationForm" action="#" th:action="@{/register}" th:object="${registerUserRequest}" method="POST">
        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
        </div>
        <div th:if="${emailError}" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span th:text="${emailError}">Email configuration error</span>
        </div>
        <div th:if="${isSuccessful}" class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span>Thank you for your registration. You will shortly receive an email with a verification link. After confirmation of your registration you can login.</span>
        </div>

        <!-- Username-->
        <div class="form-label-group">
          <input type="text" id="username" class="form-control" name="username"
                 th:class="${#fields.hasErrors('username')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{username}"
                 placeholder=""
                 autocomplete="username"
                 required autofocus>
          <div class="invalid-feedback" th:errors="*{username}">Username error</div>
          <label for="username">Username</label>
        </div>

        <!-- Email-->
        <div class="form-label-group">
          <input type="email" id="email" class="form-control" name="email"
                 th:class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{email}"
                 placeholder=""
                 required>
          <div class="invalid-feedback" th:errors="*{email}">Email error</div>
          <label for="email">Email address</label>
        </div>

        <!-- Password -->
        <div class="small ml-1">Make sure your password has at least 8 characters.</div>
        <div class="form-label-group">
          <input type="password" id="plainPassword" class="form-control" name="plainPassword"
                 th:class="${#fields.hasErrors('plainPassword')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{plainPassword}"
                 placeholder=""
                 autocomplete="new-password"
                 required>
          <div class="invalid-feedback" th:errors="*{plainPassword}">Password error</div>
          <label for="plainPassword">Password</label>
        </div>

        <!-- Verify Password -->
        <div class="form-label-group">
          <input type="password" id="verifyPlainPassword" class="form-control" name="verifyPlainPassword"
                 th:class="${#fields.hasErrors('verifyPlainPassword')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{verifyPlainPassword}"
                 placeholder=""
                 autocomplete="new-password"
                 required>
          <div class="invalid-feedback" th:errors="*{verifyPlainPassword}">Verify password error</div>
          <label for="verifyPlainPassword">Verify Password</label>
        </div>

        <!-- Register -->
        <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Join Metal Detector</button>
      </form>
      <p class="my-2">
        Already registered? <a href="#" th:href="@{/login}">Login</a>
      </p>
    </div>
  </body>
</html>
