<!DOCTYPE html>
<html layout:decorate="~{guest/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Reset password</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="auth-container rounded">
            <h1 class="mb-3 h4">Reset your password</h1>
            <form id="resetPasswordForm" name="resetPasswordForm" action="#" th:action="@{/reset-password}" th:object="${changePasswordRequest}" method="POST">
                <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger alert-dismissible" role="alert">
                    <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Password -->
                <div class="small ms-1">Make sure your password has at least 8 characters.</div>
                <div class="form-floating mb-3">
                    <input type="password"
                           id="newPlainPassword"
                           class="form-control"
                           name="newPlainPassword"
                           th:class="${#fields.hasErrors('newPlainPassword')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{newPlainPassword}"
                           placeholder="Password"
                           autocomplete="new-password"
                           autofocus
                           required>
                    <div class="invalid-feedback" th:errors="*{newPlainPassword}">Password error</div>
                    <label for="newPlainPassword" class="dark-foreground">Password</label>
                </div>

                <!-- Verify Password -->
                <div class="form-floating mb-4">
                    <input type="password"
                           id="verifyNewPlainPassword"
                           class="form-control"
                           name="verifyNewPlainPassword"
                           th:class="${#fields.hasErrors('verifyNewPlainPassword')}? 'form-control is-invalid' : 'form-control'"
                           th:field="*{verifyNewPlainPassword}"
                           placeholder="Password"
                           autocomplete="new-password"
                           required>
                    <div class="invalid-feedback" th:errors="*{verifyNewPlainPassword}">Verify password error</div>
                    <label for="verifyNewPlainPassword" class="dark-foreground">Verify Password</label>
                </div>

                <input type="hidden" id="tokenString" th:value="*{tokenString}" th:field="*{tokenString}" value=""/>
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-secondary" type="submit">Submit</button>
                </div>
            </form>

            <p class="my-2">
                New user? <a href="#" th:href="@{/register}">Join now!</a><br />
                Already registered? <a href="#" th:href="@{/login}">Login</a>
            </p>
        </div>
    </section>
</body>
</html>
