<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="headerFragment">
  <title th:include=":: #pageTitle">Dynamic page title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <!-- Do not use '<sec:csrfMetaTags />' here!, see https://trello.com/c/bmaEDU8T -->
  <sec:csrfMetaTags></sec:csrfMetaTags>

  <!-- CSS -->
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet" type="text/css" />
  <link th:href="@{/webjars/lightbox/src/css/lightbox.css}" href="#" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/frontend.css}" href="#" rel="stylesheet" />

  <!-- JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>
  <script th:src="@{/webjars/lightbox//src/js/lightbox.js}" src="#"></script>
  <script th:src="@{/js/common.js}" src="#"></script>
  <script th:src="@{/js/search-artists.js}" src="#"></script>
  <script th:src="@{/js/follow-artists.js}" src="#"></script>
  <script th:src="@{/js/artist-details.js}" src="#"></script> <!-- ToDo DanielW: Braucht man die auf jeder Seite?-->
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">
        <div class="container">
          <a href="#" th:href="@{/search-artists}"><img class="navbar-brand mb-0 h1" th:src="@{/images/logo.png}" alt="Logo" src="#" width="300" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/search-artists}" >Search Artists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/my-artists}" >My Artists</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUpcomingReleasesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Upcoming Releases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUpcomingReleasesDropdown">
                  <a class="dropdown-item" href="#" th:href="@{/all-releases}">All Releases</a>
                  <a class="dropdown-item" href="#" th:href="@{/artists-releases}">From your Artists</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span sec:authentication="name">Username</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                  <a class="dropdown-item" href="#" th:href="@{/profile}">Profile</a>
                  <a class="dropdown-item" href="#" th:href="@{/settings}">Settings</a>
                  <a class="dropdown-item" href="#" target="_blank" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Admin area</a>
                  <div class="dropdown-divider"></div>
                  <a id="logout-link" class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
      </form>
    </header>

    <main role="main">
      <div class="container bg-white" id="content-wrapper">
        <div class="content">
          <th:block th:include="${template}" />
        </div>
      </div>
    </main>

    <footer class="bg-dark" id="footer">
      <div class="container p-3">
        <div class="row">
          <div class="col-6 col-md">
            <h5 class="text-white">Contribute</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted footer-link" href="https://github.com/Waginator/metal-release-radar" target="_blank">Find us on GitHub</a></li>
              <li><a class="text-muted footer-link" href="https://github.com/Waginator/metal-release-radar/issues/new/choose" target="_blank">Request a feature</a></li>
              <li><a class="text-muted footer-link" href="https://github.com/Waginator/metal-release-radar/issues/new/choose" target="_blank">Report an issue</a></li>
              <li><a class="text-muted footer-link" href="#" th:href="@{/report-artist-release}">Report an artist release</a></li>
              <li><a class="text-muted footer-link" href="#" target="_blank">Spend a beer</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="text-white">Lorem ipsum</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted footer-link" href="#">Foo Bar</a></li>
              <li><a class="text-muted footer-link" href="#">Foo Bar</a></li>
              <li><a class="text-muted footer-link" href="#">Foo Bar</a></li>
              <li><a class="text-muted footer-link" href="#">Foo Bar</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="text-white">About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted footer-link" href="#" th:href="@{/about}">About Metal Release Radar</a></li>
              <li><a class="text-muted footer-link" href="#" th:href="@{/team}">Our Team</a></li>
              <li><a class="text-muted footer-link" href="#" th:href="@{/contact}">Contact us</a></li>
              <li><a class="text-muted footer-link" href="#" th:href="@{/imprint}">Imprint</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script>
        $(document).ready( function() {
            registerLogoutListener();
        });
    </script>
  </body>
</html>
