<!DOCTYPE html>
<html layout:decorate="~{auth/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Forgot password</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="auth-container rounded">
            <h1 class="mb-3 h4">Forgot Password?</h1>
            <p>Please enter the email address or username you used for registration. We'll send you an email with a link to reset your password.</p>
            <form id="forgotPasswordForm" name="forgotPasswordForm" action="#" th:action="@{/forgot-password}" th:object="${forgotPasswordRequest}" method="POST">
                <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger alert-dismissible" role="alert">
                    <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${tokenExpiredError}" class="alert alert-danger alert-dismissible" role="alert">
                    <span>The password reset link has expired. Please request a renewed reset of your password.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${isSuccessful}" class="alert alert-success alert-dismissible" role="alert">
                    <span>You have received an email with instructions for resetting your password.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Email or username-->
                <div class="form-floating mb-4">
                    <input type="text"
                           id="emailOrUsername"
                           class="form-control"
                           name="emailOrUsername"
                           th:class="${#fields.hasErrors('emailOrUsername')} ? 'form-control is-invalid' : 'form-control'"
                           th:field="*{emailOrUsername}"
                           placeholder="name@example.com"
                           autocomplete="username"
                           autofocus
                           required>
                    <div class="invalid-feedback"><span>
                    User with provided email address or username not found.</span>
                    </div>
                    <label for="emailOrUsername" class="dark-foreground">Email address or username</label>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-secondary" type="submit">Submit</button>
                </div>
            </form>

            <p class="my-2">
                New user? <a href="#" th:href="@{/register}">Join now!</a><br />
                Already registered? <a href="#" th:href="@{/login}">Login</a>
            </p>
        </div>
    </section>
</body>
</html>
