<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="admin/fragments/layout :: headerFragment">
        <title id="pageTitle">Page not found | Metal Detector</title>
    </head>
    <body>
        <div class="container">
            <h1 class="display-4 text-white">Access denied</h1>
            <img alt="You shall not pass" th:src="@{/images/you-shall-not-pass.jpg}" src="#" class="img-fluid mb-5" />
            <br />
            <a href="#" th:href="@{/}">Home</a>
        </div>
    </body>
</html>
