<!DOCTYPE html>
<html data-th-replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en">
    <head data-th-include="admin/fragments/layout :: headerFragment">
        <title id="pageTitle">Internal server error | Metal Release Radar</title>
    </head>
    <body>
        <div class="container">
            <h1 class="display-4 text-white">Sorry</h1>
            <h2 class="text-white">This really should not happen. Our developers are on it. We swear it!</h2>
            <a href="#" data-th-href="@{/index}">Home</a>
        </div>
    </body>
</html>
