<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:fragment="headerFragment">
    <title th:include=":: #pageTitle">Dynamic page title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/guest.css}" href="#" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/auth.css}" href="#" rel="stylesheet" type="text/css" />

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>
    <script th:src="@{/js/common.js}" src="#"></script>
  </head>
  <body class="bg-dark">

    <main role="main">
      <div class="container">
        <div class="container text-center mt-5">
          <a href="#" th:href="@{/}"><img alt="Logo" th:src="@{/images/logo.png}" src="#" class="img-fluid mb-5" /></a>
        </div>
        <th:block th:include="${template}" />
      </div>
    </main>

    <footer id="footer">
    </footer>
  </body>
</html>
