<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Metal Detector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- CSS -->
    <link th:nonce="${random}" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <link th:nonce="${random}" th:href="@{/css/guest.css}" href="#" rel="stylesheet" type="text/css" />

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:nonce="${random}" th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
    <script th:nonce="${random}" th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
    <script th:nonce="${random}" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>
    <script th:nonce="${random}" th:src="@{/js/common.js}" src="#"></script>
</head>
<body>
    <main role="main">
        <div class="container">
            <div class="container text-center mt-5">
                <a href="#" th:href="@{/}"><img alt="Logo" th:src="@{/images/logo.png}" src="#" class="img-fluid mb-5" /></a>
            </div>
            <section layout:fragment="content"></section>
        </div>
    </main>
    <footer id="footer">
    </footer>
</body>
</html>
