html{
    height: 100%;
    margin: 0;
}

body {
    /* push footer to the bottom */
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* other */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.navbar {
    padding: 0;
    min-height: 4rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.nav-link {
    position: relative;
    display: block;
    margin-right: 1.5rem;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}

#topheader .navbar {
    min-height: 2rem;
}

#topheader .navbar-nav li > a {
    text-transform: capitalize;
    color: #333;
    transition: background-color .2s, color .2s;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    line-height: 1;
    margin-right: 0.2rem;
    padding: 0.4rem;
}

#topheader .navbar-nav li > a:hover {
    background-color: #343a40;
    color: #fff;
    text-decoration: none;
}

#topheader .navbar-nav li.active > a {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}

#topheader .navbar-nav li.disabled > a {
    color: #333;
    pointer-events:none;
}

#topheader .navbar-nav li.disabled > a:hover {
    background-color: inherit;
}

#artistDetails .row {
    align-items: center;
}

#content-wrapper {
    padding: 5rem 1rem 1rem 1rem;
}

footer{
    margin-top: auto;
}

.footer-link:hover {
    color: #cccccc !important;
    text-decoration: none;
}

.form-control {
    margin-bottom: 1rem;
    width: 100%;
}

.card {
    margin-bottom: 1rem;
    background-color: #ececec;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin: 0.75rem;
}

.card-header {
    padding: 0;
    min-height: 2rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    font-weight: bold;
    background-color: #343a40;
    border: 1px solid rgba(0,0,0,.125);
}

.page-item .page-link {
    z-index: 1;
    color: #000;
    background-color: #ececec;
    border: 1px solid rgba(0,0,0,.125);
}

.page-item.disabled .page-link {
    z-index: 1;
    color: #000;
    background-color: #ececec;
    border: 1px solid rgba(0,0,0,.125);;
}

.page-link:hover {
    color: #fff;
    background-color: #5c6670;
}

.loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: loader .6s linear infinite;
}

@keyframes loader {
    to {transform: rotate(360deg);}
}

.image-row {
    text-align: left;
}

.image-set {
    box-sizing: border-box;
}

.image-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    line-height: 0;
    border-radius: 0.25rem;
}

.image-link:hover {
    background-color: #5c6670;
}

.image {
    width: 10rem;
    border-radius: 0.25rem;
}

.lb-nav a.lb-prev {
    background: transparent;
}

.lb-nav a.lb-next {
    background: transparent;
}

#searchButton {
    background-color: #fff;
    border: 1px solid #ced4da;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.input-group > .form-control:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.form-control:focus {
    border: 1px solid #ced4da;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-expand-lg .navbar-nav {
    align-items: baseline;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.container {
    max-width: 1280px;
}

#user-name {
    margin-right: .5rem;
}