html{
    height: 100%;
    margin: 0;
}

body {
    /* push footer to the bottom */
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* other */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.navbar {
    padding: 0;
    min-height: 4rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.nav-link {
    position: relative;
    display: block;
    margin-right: 1.5rem;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}

#content-wrapper {
    padding: 5rem 1rem 1rem 1rem;
}

footer{
    margin-top: auto;
}

.footer-link:hover {
    color: #cccccc !important;
    text-decoration: none;
}

.form-control {
    margin-bottom: 1rem;
    width: 100%;
}

.card {
    margin-bottom: 1rem;
    background-color: #ececec;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin: 0.75rem;
}

.btn-pagination {
    margin-right: 0.5rem;
    background-color: #ececec;
    color: #212529;
    padding: 0.25rem;
}

.btn-pagination:hover {
    background-color: #777777;
}

.nav-link-artist {
    margin-right: 0;
    color: #212529;
    background-color: #b1b0ad;
    border: 1px solid grey;
}

.nav-link-artist-active {
    background-color: #ececec;
}