<!DOCTYPE html>
<html th:replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <div class="container mt-5">
            <h1>Follow Artists</h1>
            <!-- Search Form -->
            <div class="container">
                <form id="searchForm" action="#" th:action="@{/follow-artists}" th:object="${artistSearchRequest}"
                      method="POST">
                    <!-- Artist name -->
                    <label for="artistName"></label><input type="text" id="artistName" class="form-control"
                                                           th:field="*{artistName}">
                    <!-- Submit -->
                    <button class="btn btn-primary btn-dark font-weight-bold" type="submit">Search</button>
                </form>
            </div>
            <!-- Artist name -->
            <div class="container">
                <div th:if="${totalPages} > 0" th:text="${'You searched for: ' + artistName}">Artist Name</div>
            </div>
            <!-- Result cards -->
            <div class="container">
                <div th:each="result : ${artistSearchResultList}"
                     th:class="card">
                    <div th:class="card-body">
                        <p th:text="${result.id}">id</p>
                        <p th:text="${result.title}">title</p>
                        <a target="_blank" rel="noopener noreferrer"
                           th:href="@{${'http://discogs.com' + result.uri}}"
                           th:text="${result.title + ' on discogs'}
                           ">uri</a>
                    </div>
                </div>
            </div>
            <!-- Pagination links -->
            <div class="container">
                <div class="row" th:if="${totalPages} > 0">
                    <a th:if="${currentPage} > 1" href="#"
                       th:href="@{/follow-artists(size=${nextSize}, page=${nextPage}, artistName=${artistName})}"
                       th:text="#{Previous}"
                       class="btn btn-dark btn-pagination">Previous</a>
                    <a th:if="${totalPages > 1}"
                       th:each="pageNumber : ${pageNumbers}" href="#"
                       th:href="@{/follow-artists(size=${nextSize}, page=${pageNumber}, artistName=${artistName})}"
                       th:text="#{${pageNumber}}"
                       class="btn btn-dark btn-pagination">Page number</a>
                    <a th:if="${currentPage} < ${totalPages}" href="#"
                       th:href="@{/follow-artists(size=${nextSize}, page=${nextPage}, artistName=${artistName})}"
                       th:text="#{Next}"
                       class="btn btn-dark btn-pagination">Next</a>
                </div>
            </div>
        </div>
    </body>
</html>
