<!DOCTYPE html>
<html th:replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="admin/fragments/layout :: headerFragment">
        <title id="pageTitle">Follow Artists | Metal Release Radar</title>
    </head>
    <body>
        <h1>Follow Artists</h1>
        <!-- Search Form -->
        <div class="mb-3">
            <form id="searchForm" action="#" th:action="@{/follow-artists}" th:object="${artistSearchRequest}"
                  method="POST">
                <!-- Artist name -->
                <label for="artistName"></label><input type="text" id="artistName" class="form-control"
                                                       th:field="*{artistName}">
                <!-- Submit -->
                <button class="btn btn-primary btn-dark font-weight-bold" type="submit">Search</button>
            </form>
        </div>
        <!-- Artist name -->
        <div class="mb-3">
            <div th:if="${artistNameSearchResponse.artistName != ''}" th:text="${'You searched for: ' + artistNameSearchResponse.artistName}">Artist Name</div>
        </div>
        <!-- Bad request message -->
        <div class="mb-3">
            <div th:if="${badArtistSearchRequestMessage}" class="alert alert-danger" role="alert">
                <p th:text="${badArtistSearchRequestMessage}">Bad search request message</p>
                <ul>
                    <li th:text="${'Artist name: ' + badArtistSearchRequestArtistName}">Bad search request artist name</li>
                    <li th:text="${'Page: ' + badArtistSearchRequestPage}">Bad search request page</li>
                    <li th:text="${'Size: ' + badArtistSearchRequestSize}">Bad search request</li>
                </ul>
            </div>
        </div>
        <!-- Result cards -->
        <div class="mb-3">
            <div th:if="${artistNameSearchResponse}"
                 th:each="result : ${artistNameSearchResponse.artistSearchResults}"
                 th:class="card">
                <div th:class="card-body">
                    <img th:if="${result.thumb} != ''" src="" th:src="${result.thumb}" th:alt="${'Thumb for ' + artistNameSearchResponse.artistName}" alt="">
                    <p th:text="${result.id}">Id</p>
                    <p th:text="${result.artistName}">Artist name</p>
                    <a th:href="@{/artist-details(artistName=${result.artistName}, id=${result.id})}"
                       th:text="${'Details for ' + result.artistName}">Artist details</a>
                </div>
            </div>
        </div>
        <!-- Pagination links -->
        <div class="mb-3">
            <div class="row" th:if="${artistNameSearchResponse}">
                <a th:if="${artistNameSearchResponse.pagination.currentPage} > 1" href="#"
                   th:href="@{/follow-artists(size=${artistNameSearchResponse.pagination.nextSize}, page=${artistNameSearchResponse.pagination.nextPage}, artistName=${artistNameSearchResponse.artistName})}"
                   th:text="#{Previous}"
                   class="btn btn-dark btn-pagination">Previous</a>
                <a th:if="${artistNameSearchResponse.pagination.totalPages > 1}"
                   th:each="pageNumber : ${artistNameSearchResponse.pagination.pageNumbers}" href="#"
                   th:href="@{/follow-artists(size=${artistNameSearchResponse.pagination.nextSize}, page=${pageNumber}, artistName=${artistNameSearchResponse.artistName})}"
                   th:text="#{${pageNumber}}"
                   class="btn btn-dark btn-pagination">Page number</a>
                <a th:if="${artistNameSearchResponse.pagination.currentPage} < ${artistNameSearchResponse.pagination.totalPages}" href="#"
                   th:href="@{/follow-artists(size=${artistNameSearchResponse.pagination.nextSize}, page=${artistNameSearchResponse.pagination.nextPage}, artistName=${artistNameSearchResponse.artistName})}"
                   th:text="#{Next}"
                   class="btn btn-dark btn-pagination">Next</a>
            </div>
        </div>
    </body>
</html>
