<!DOCTYPE html>
<html th:replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="admin/fragments/layout :: headerFragment">
        <title id="pageTitle">Follow Artists | Metal Release Radar</title>
    </head>
    <body>
        <div class="mb-3 mt-5">
            <h1>Follow Artists</h1>
            <!-- Search Form -->
            <div class="mb-3">
                <form id="searchForm" action="#" th:action="@{/follow-artists}" th:object="${artistSearchRequest}"
                      method="POST">
                    <!-- Artist name -->
                    <label for="artistName"></label><input type="text" id="artistName" class="form-control"
                                                           th:field="*{artistName}">
                    <!-- Submit -->
                    <button class="btn btn-primary btn-dark font-weight-bold" type="submit">Search</button>
                </form>
            </div>
            <!-- Artist name -->
            <div class="mb-3">
                <div th:if="${totalPages} > 0" th:text="${'You searched for: ' + artistName}">Artist Name</div>
            </div>
            <!-- Bad request message -->
            <div class="mb-3">
                <div th:if="${badArtistSearchRequestMessage} != null" class="alert alert-danger" role="alert">
                    <p th:text="${badArtistSearchRequestMessage}">Bad search request message</p>
                    <ul>
                        <li th:text="${'Artist name: ' + badArtistSearchRequestArtistName}">Bad search request artist name</li>
                        <li th:text="${'Page: ' + badArtistSearchRequestPage}">Bad search request page</li>
                        <li th:text="${'Size: ' + badArtistSearchRequestSize}">Bad search request</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Result cards -->
        <div class="mb-3">
            <div th:each="result : ${artistSearchResultList}"
                 th:class="card">
                <div th:class="card-body">
                    <img th:if="${result.thumb} != ''" src="" th:src="${result.thumb}" th:alt="${'Thumb for ' + artistName}" alt="">
                    <p th:text="${result.id}">Id</p>
                    <p th:text="${result.title}">Title</p>
                    <a th:href="@{/artist-details(artistName=${result.title}, id=${result.id})}"
                       th:text="${'Details for ' + result.title}">Artist details</a>
                </div>
            </div>
        </div>
        <!-- Pagination links -->
        <div class="mb-3">
            <div class="row" th:if="${totalPages} > 0">
                <a th:if="${currentPage} > 1" href="#"
                   th:href="@{/follow-artists(size=${nextSize}, page=${nextPage}, artistName=${artistName})}"
                   th:text="#{Previous}"
                   class="btn btn-dark btn-pagination">Previous</a>
                <a th:if="${totalPages > 1}"
                   th:each="pageNumber : ${pageNumbers}" href="#"
                   th:href="@{/follow-artists(size=${nextSize}, page=${pageNumber}, artistName=${artistName})}"
                   th:text="#{${pageNumber}}"
                   class="btn btn-dark btn-pagination">Page number</a>
                <a th:if="${currentPage} < ${totalPages}" href="#"
                   th:href="@{/follow-artists(size=${nextSize}, page=${nextPage}, artistName=${artistName})}"
                   th:text="#{Next}"
                   class="btn btn-dark btn-pagination">Next</a>
            </div>
        </div>
    </body>
</html>
