<!DOCTYPE html>
<html th:replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="frontend/fragments/layout :: headerFragment">
        <title id="pageTitle">Search Artists | Metal Release Radar</title>
    </head>
    <body>
    <h1>Search Artists</h1>
    <!-- Search Form -->
    <div class="mb-3">
        <form id="searchForm" onsubmit="return searchArtist(1,25)">
            <label for="artistName"></label><input type="text" id="artistName" class="form-control">
            <button id="searchButton" class="btn btn-primary btn-dark font-weight-bold" type="submit"
                    onclick="return searchArtist(1,25)"
                    th:text="Search">Search</button>
        </form>
    </div>
    <div id="searchResultsContainer" class="mb-3"></div>
    <div id="paginationContainer" class="mb-3 row"></div>
    <div id="noResultsMessageContainer"></div>
    <div id="artistDetailsContainer"></div>
    </body>
</html>
