<!DOCTYPE html>
<html lang="en">
<body>
<h3>Search</h3>

<!-- Search Form -->
<div class="row">
    <form id="searchForm" action="#" data-th-action="@{/search}" data-th-object="${searchRequest}" method="POST">

        <!-- band name -->
        <div class="form-label-group">
            <input type="text" id="artistName" class="form-control" data-th-field="*{artistName}">
            <label for="artistName">Artist name</label>
        </div>

        <!-- Submit -->
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<!-- Searched term -->
<div class="row">
    <p data-th-text="${artistName}">Artist name</p>
</div>

<!-- Results table -->
<table border="1">
    <thead>
    <tr>
        <th data-th-text="#{ID}">ID Column</th>
        <th data-th-text="#{Artist Name}">Artist Name Column</th>
        <th data-th-text="#{URL}">URL Column</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="result : ${artistSearchResultsPage}">
        <td data-th-text="${result.id}">id</td>
        <td data-th-text="${result.title}">artistName</td>
        <td data-th-text="${result.uri}">uri</td>
    </tr>
    </tbody>
</table>

<!-- Pagination -->
<div data-th-if="${artistSearchResultsPage.totalPages > 0}" class="pagination"
     data-th-each="pageNumber : ${pageNumbers}">
    <a data-th-href="@{/search(size=${artistSearchResultsPage.size}, page=${pageNumber})}"
       data-th-text=${pageNumber}
       data-th-class="${pageNumber==artistSearchResultsPage.number + 1} ? active"></a>
</div>
</body>
</html>