<!DOCTYPE html>
<html data-th-replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en">
<body>
<h3>Search</h3>

<!-- Search Form -->
<div class="row">
    <form id="searchForm" action="#" data-th-action="@{/search}" data-th-object="${searchRequest}" method="POST">

        <!-- band name -->
        <div class="form-label-group">
            <input type="text" id="artistName" class="form-control" data-th-field="*{artistName}">
            <label for="artistName">Artist name</label>
        </div>

        <!-- Submit -->
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<!-- Pagination -->
<!--<div data-th-if="${artistSearchResultsPage.totalPages > 0}" class="pagination"-->
<!--     data-th-each="pageNumber : ${pageNumbers}">-->
<!--    <a data-th-href="@{/search(size=${artistSearchResultsPage.size}, page=${pageNumber})}"-->
<!--       data-th-text=${pageNumber}-->
<!--       data-th-class="${pageNumber==artistSearchResultsPage.number + 1} ? active"></a>-->
<!--</div>-->

<!-- Result cards -->
<div class="row">
    <div data-th-if="${artistSearchResultsPage.totalPages > 0}"
         data-th-each="result : ${artistSearchResultsPage}">
        <div data-th-class="card">
            <div data-th-class="card-body">
                <p data-th-text="${result.id}">id</p>
                <p data-th-text="${result.title}">title</p>
                <p data-th-text="${result.uri}">uri</p>
            </div>
        </div>
    </div>
</div>

<!-- Pagination in geil -->
<div class="row">

</div>
</body>
</html>