<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:include="admin/fragments/layout :: headerFragment">
      <title id="pageTitle">Status | Metal Release Radar</title>
  </head>
  <body>
    <p class="text-center text-white font-weight-bold">You are already logged in as <span sec:authentication="name">Username</span>.</p>
    <div class="container text-center mt-5">
      <a href="#" th:href="@{/logout}" class="btn btn-dark auth-button font-weight-bold" style="width: 10rem;">Logout</a>
      <span class="mx-3 font-weight-bold text-white">Or</span>
      <a href="#" th:href="@{/profile}" class="btn btn-dark auth-button font-weight-bold" style="width: 10rem;">Account settings</a>
    </div>
  </body>
</html>
