<!DOCTYPE html>
<html layout:decorate="~{guest/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Page not found</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <h1 class="display-4 text-white">Access denied</h1>
            <img alt="You shall not pass" th:src="@{/images/you-shall-not-pass.jpg}" src="#" class="img-fluid mb-5" />
            <br />
            <a href="#" th:href="@{/}">Home</a>
        </div>
    </section>
</body>
</html>
