<!DOCTYPE html>
<html layout:decorate="~{guest/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Page not found</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <h1 class="display-4 text-white">Sorry</h1>
            <h2 class="text-white">We couldn't find the page you were looking for (<span th:text="${requestedURI}">requested uri</span>)</h2>
            <a href="#" th:href="@{/}">Home</a>
        </div>
    </section>
</body>
</html>
