<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <body>
    <div class="auth-container rounded">
      <h3 class="mb-3">Forgot Password?</h3>
      <p th:text="#{forgot-password.intro}">Enter your email to reset your password.</p>
      <form id="forgotPasswordForm" name="forgotPasswordForm" action="#" th:action="@{/forgot-password}" th:object="${forgotPasswordRequest}" method="POST">
        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
          <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
        </div>
        <div th:if="${resetPasswordError}" class="alert alert-danger" role="alert">
          <span th:text="${resetPasswordError}">Validation error</span>
        </div>
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
          <span th:text="${successMessage}">Forgot password request successful</span>
        </div>

        <!-- EMail-->
        <div class="form-label-group">
          <input type="email" id="email" class="form-control" name="email"
                 th:class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{email}"
                 placeholder="#"
                 autofocus required>
          <div class="invalid-feedback" th:errors="*{email}">Email error</div>
          <label for="email">Email address or username</label>
        </div>

        <button class="btn btn-lg btn-dark btn-block mt-4" type="submit">Submit</button>
      </form>

      <p class="my-2">
        New user? <a href="#" th:href="@{/register}" th:text="#{index.register}">Join now!</a><br />
        Already registered? <a href="#" th:href="@{/login}" th:text="#{index.login}">Login</a>
      </p>
    </div>
  </body>
</html>
