<!DOCTYPE html>
<html data-th-replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en">
  <body>
    <div class="auth-container rounded">
      <h3 class="mb-3">Reset your password</h3>
      <form id="resetPasswordForm" name="resetPasswordForm" action="#" data-th-action="@{/reset-password}" data-th-object="${changePasswordRequest}" method="POST">
        <div data-th-if="${#fields.hasGlobalErrors()}" class="alert alert-danger col-sm-5" role="alert">
          <span data-th-each="err : ${#fields.globalErrors()}" data-th-text="${err}">global error</span>
        </div>
        <!-- Password -->
        <div class="small ml-1">Make sure your password has at least 8 characters.</div>
        <div class="form-label-group">
          <input type="password" id="password" class="form-control" name="password"
                 data-th-class="${#fields.hasErrors('password')}? 'form-control is-invalid' : 'form-control'"
                 data-th-field="*{password}"
                 placeholder="#"
                 autofocus required>
          <div class="invalid-feedback" data-th-errors="*{password}">Password error</div>
          <label for="password">Password</label>
        </div>

        <!-- Verify Password -->
        <div class="form-label-group">
          <input type="password" id="verify-password" class="form-control" name="verify-password"
                 data-th-class="${#fields.hasErrors('verifyPassword')}? 'form-control is-invalid' : 'form-control'"
                 data-th-field="*{verifyPassword}"
                 placeholder="#"
                 required>
          <div class="invalid-feedback" data-th-errors="*{verifyPassword}">Verify password error</div>
          <label for="verify-password">Verify Password</label>
        </div>

        <input type="hidden" id="tokenString" data-th-value="*{tokenString}" data-th-field="*{tokenString}" value=""/>
        <button class="btn btn-lg btn-dark btn-block mt-4" type="submit">Submit</button>
      </form>

      <p class="my-2">
        New user? <a href="#" data-th-href="@{/register}" data-th-text="#{index.register}">Join now!</a><br />
        Already registered? <a href="#" data-th-href="@{/login}" data-th-text="#{index.login}">Login</a>
      </p>
    </div>
  </body>
</html>
