<!DOCTYPE html>
<html th:replace="~{guest/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:include="admin/fragments/layout :: headerFragment">
      <title id="pageTitle">Reset password | Metal Release Radar</title>
  </head>
  <body>
    <div class="auth-container rounded">
      <h3 class="mb-3">Reset your password</h3>
      <form id="resetPasswordForm" name="resetPasswordForm" action="#" th:action="@{/reset-password}" th:object="${changePasswordRequest}" method="POST">
        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger col-sm-5" role="alert">
          <span th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error</span>
        </div>
        <!-- Password -->
        <div class="small ml-1">Make sure your password has at least 8 characters.</div>
        <div class="form-label-group">
          <input type="password" id="password" class="form-control" name="password"
                 th:class="${#fields.hasErrors('password')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{password}"
                 placeholder="#"
                 autofocus required>
          <div class="invalid-feedback" th:errors="*{password}">Password error</div>
          <label for="password">Password</label>
        </div>

        <!-- Verify Password -->
        <div class="form-label-group">
          <input type="password" id="verify-password" class="form-control" name="verify-password"
                 th:class="${#fields.hasErrors('verifyPassword')}? 'form-control is-invalid' : 'form-control'"
                 th:field="*{verifyPassword}"
                 placeholder="#"
                 required>
          <div class="invalid-feedback" th:errors="*{verifyPassword}">Verify password error</div>
          <label for="verify-password">Verify Password</label>
        </div>

        <input type="hidden" id="tokenString" th:value="*{tokenString}" th:field="*{tokenString}" value=""/>
        <button class="btn btn-lg btn-dark btn-block mt-4" type="submit">Submit</button>
      </form>

      <p class="my-2">
        New user? <a href="#" th:href="@{/register}" th:text="#{index.register}">Join now!</a><br />
        Already registered? <a href="#" th:href="@{/login}" th:text="#{index.login}">Login</a>
      </p>
    </div>
  </body>
</html>
