<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Metal Detector</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="96x96">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- CSS -->
    <link th:nonce="${random}" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" href="#" rel="stylesheet" />
    <link th:href="@{/css/common.css}" href="#" rel="stylesheet" />

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:nonce="${random}" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script th:nonce="${random}" th:src="@{/js/common.js}" src="#"></script>

    <!-- Material Icons -->
    <link th:nonce="${random}" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
</head>
<body>
    <!-- Top Navbar-->
    <div class="topbar shadow">
        <nav class="navbar navbar-dark">
            <a href="#" th:href="@{/admin}" class="ms-3">
                <img alt="Logo" th:src="@{/images/logo.png}" src="#" width="300" />
            </a>
            <ul class="nav justify-content-end me-3">
                <li class="nav-item"><a th:href="@{/admin/notifications}" href="#" class="nav-link"><i class="material-icons" style="padding-top: 0.2rem">notifications</i></a></li>
                <li class="nav-item"><a th:href="@{/}" href="#" target="_blank" class="nav-link"><i class="material-icons" style="padding-top: 0.2rem">public</i></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Profile photo" class="avatar avatar-xs" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarUserDropdown">
                        <p class="ps-4 pe-2">Signed in as <span sec:authentication="name" class="font-weight-bold">Username</span></p>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/admin/profile}"><i class="material-icons pe-2">person</i>Profile</a>
                        <a id="logout-link" class="dropdown-item" href="#" th:href="@{/logout}"><i class="material-icons pe-2">exit_to_app</i>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
    </form>

    <!-- Sidebar -->
    <div class="sidebar border-end">
        <ul class="nav flex-column pt-2">
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin'}? 'active' : ''" class="text-dark px-4 py-3">
                    <i class="material-icons pe-2">dashboard</i>Dashboard
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/import}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/import'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">import_export</i>Import
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/releases}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/releases'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">queue_music</i>Releases
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/notifications}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/notifications'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">announcement</i>Notifications
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/analytics}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/analytics'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">timeline</i>Analytics
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/users}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/users'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">people</i>Users
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/settings}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/settings'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pe-2">build</i>Settings
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <main role="main" class="px-3 py-3">
        <div class="content">
            <section layout:fragment="content"></section>
        </div>
    </main>

    <!-- Footer -->
    <footer></footer>

    <div id="toast-wrapper"></div>

    <script>
        $(document).ready( function() {
            registerLogoutListener();
        });
    </script>
</body>
</html>
