<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A request to reset your password</title>
</head>
<body>
    <h1>A request to reset your password</h1>
        <p>Hi <span data-th-text="${firstName}">Daniel</span></p>
        <p>Someone has requested to reset your password. If it were not you, please ignore this email.
           Otherwise please click on the following link to set a new password: <a href='#' data-th-href="@{(${resetPasswordURL})}">Click here to set a new password</a></p>
        <p>Thank you!</p>
</body>
</html>