<!DOCTYPE html>
<html data-th-fragment="layout (template)" lang="en">
  <head>
    <title>Metal Release Radar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom -->
    <link data-th-href="@{/css/guest.css}" href="#" rel="stylesheet" />
    <link data-th-href="@{/css/auth.css}" href="#" rel="stylesheet" />
  </head>
  <body class="bg-dark">

    <main role="main">
      <div class="container">
        <div class="container text-center mt-5">
          <a href="#" data-th-href="@{/}"><img alt="Logo" data-th-src="@{/images/logo.png}" src="#" class="img-fluid mb-5" /></a>
        </div>
        <data-th-block data-th-include="${template}"></data-th-block>
      </div>
    </main>

    <footer id="footer">
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
