<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Top 6 Releases of 2020</title>
</head>
<body>
    <section layout:fragment="content">
        <article id="blog-content-wrapper" class="mt-4 d-flex justify-content-center">
            <div class="blog-content">
                <h1 class="h4">Top 6 Releases of 2020</h1>
                <div id="blog-author-begin" class="blog-post-author d-flex align-items-center mt-4">
                    <img class="avatar avatar-s" src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Avatar">
                    <div class="ms-4 text-left">
                        <p class="mb-0">DanielW</p>
                        <p class="text-muted mt-n1 mb-0">January 10th, 2021</p>
                    </div>
                </div>

                <div class="blog-text mt-4">
                    <p>
                        In this post we want to present you our top 6 metal releases from the previous Corona year. The selection is made
                        from purely subjective points of view. Love it or hate it!
                    </p>
                    <h2 class="h5">Karg - Traktat</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/1cCnekVu5PI07iGOTvnC2o"
                                    width="300"
                                    height="350"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                The Austrian band Karg is one of my absolute favorite bands since "Weltenasche". Not only do I like the
                                Austrian dialect, in which all songs are written but also the depressive mood that carries you through all
                                the songs. The 8 songs offer a lot of variety between calm, dreamy and melancholic on the one hand and fast
                                and aggressive passages on the other hand. Especially the quiet passages are that enchant me every time
                                anew and do not let the album become boring until today.
                            </p>
                            <p>
                                (Daniel)
                            </p>
                        </div>
                    </div>

                    <h2 class="h5 mt-4">Emma Ruth Rundle & Thou - May Our Chambers Be Full</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/5C4Vv6qHtiiU5z0dwj0dyc"
                                    width="300"
                                    height="300"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                With Emma Ruth Rundle and Thou two of my favorite artists of the last years teamed up for what was my most
                                anticipated and then became my most listened and most loved release of 2020. The collaboration brings the
                                very best of both worlds: Thou's distinctive heavy sound together with Emma's beautiful voice. Whoever might
                                have missed that, go listen to it now!
                            </p>
                            <p>
                                (Nils)
                            </p>
                        </div>
                    </div>

                    <h2 class="h5 mt-4">Naglfar - Cerecloth</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/7BeyKNY20Ti4CdpxnyUKSB"
                                    width="300"
                                    height="300"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                After 8 years finally again a life fork from the Swedes. With "Cerecloth" Naglfar deliver fast and melodic
                                Black Metal without much frills. Those who liked the previous albums will also like this album and they get
                                to hear exactly what they expect. My favorite song is the opener, which marches steeply forward and
                                immediately makes clear where the journey goes.
                            </p>
                            <p>
                                (Daniel)
                            </p>
                        </div>
                    </div>

                    <h2 class="h5 mt-4">Hellripper - The Affair Of The Poisons</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/0BP93aviHComMr2mmRHxVf"
                                    width="300"
                                    height="300"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                The Scottish one-man Black'n'Roll project blasted its way into my world last year with this amazing record,
                                from the first to the last track. Fast, aggressive and without weak spots this is definitely worth more
                                than one listen. This is the kind of metal for good moods and having fun!
                            </p>
                            <p>
                                (Nils)
                            </p>
                        </div>
                    </div>

                    <h2 class="h5 mt-4">Thrudvangar - Vegvisir</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/4HHpnS8S176IITAjohtdRK"
                                    width="300"
                                    height="320"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                The previous album "Tiwaz" is now 7 years ago and I have actually no longer expected new material. Just in
                                time for the 20th anniversary of the band, the Viking Metal dudes from Germany have hit us with an amazing
                                album. With "Vegvisir" the genre was not reinvented, but that's why I celebrate the album so much! The songs
                                are bursting with fighting mood and in my mind I have more than once brought out my mead horn and toasted
                                the gods in greeting.
                            </p>
                            <p>
                                (Daniel)
                            </p>
                        </div>
                    </div>

                    <h2 class="h5 mt-4">Afsky - Ofte Jeg Drømmer Mig Død</h2>
                    <div class="row mb-2">
                        <div class="col-5">
                            <iframe src="https://open.spotify.com/embed/track/2F69AdkUI98pBot3uGKD6K"
                                    width="300"
                                    height="300"
                                    allowtransparency="true"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div class="col-7">
                            <p>
                                The second album of Danish one-man project Afsky hits exactly where atmospheric black metal should: the
                                beautiful dreamy acoustic intro changes into cold deep sadness and anger. Great release with an amazing
                                cover that holds what it promises. In a genre that at times can feel kind of exhausted, this is definitely
                                one of the great ones!
                            </p>
                            <p>
                                (Nils)
                            </p>
                        </div>
                    </div>
                </div>
                <div id="blog-tags" class="mt-4">
                    <a class="btn btn-secondary me-1" href="#">Releases</a>
                    <a class="btn btn-secondary me-1" href="#">Review</a>
                </div>
                <div id="blog-author-end" class="blog-post-author d-flex align-items-center mt-4">
                    <img class="avatar avatar-xl" src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Avatar">
                    <div class="ms-4 text-left">
                        <p class="mb-0">Written by</p>
                        <a href="#" class="author-link">DanielW</a>
                        <p class="mb-0">Co-Founder of Metal Detector </p>
                    </div>
                </div>
<!--                <div id="blog-comments" class="mt-4">-->
<!--                    <h2 class="h4">Comments</h2>-->
<!--                </div>-->
            </div>
        </article>
    </section>
</body>
</html>
