<!DOCTYPE html>
<html data-th-replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en">
    <body>
        <div class="auth-container">
            <h3 class="mb-3">Forgot Password?</h3>
            <p data-th-text="#{forgot-password.intro}">Enter your email to reset your password.</p>
            <form id="forgotPasswordForm" name="forgotPasswordForm" action="#" data-th-action="@{/forgot-password}" data-th-object="${forgotPasswordRequest}" method="POST">
                <div data-th-if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                    <span data-th-each="err : ${#fields.globalErrors()}" data-th-text="${err}">global error</span>
                </div>
                <div data-th-if="${resetPasswordError}" class="alert alert-danger" role="alert">
                    <span data-th-text="${resetPasswordError}">validation error</span>
                </div>
                <div data-th-if="${successMessage}" class="alert alert-success" role="alert">
                    <span data-th-text="${successMessage}">Registration successful</span>
                </div>

                <!-- EMail-->
                <div class="form-label-group">
                    <input type="email" id="email" class="form-control" name="email"
                           data-th-class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"
                           data-th-field="*{email}"
                           placeholder="Email" required>
                    <div class="invalid-feedback" data-th-errors="*{email}">Email error</div>
                    <label for="email">Email</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

            <div class="row">
                <div class="col-md-12">
                    New user? <a href="#" data-th-href="@{/register}" data-th-text="#{index.register}">Register</a>
                </div>
                <div class="col-md-12">
                    Already registered? <a href="#" data-th-href="@{/login}" data-th-text="#{index.login}">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>