<!DOCTYPE html>
<html data-th-replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en">
    <body>
        <div class="auth-container">
            <h3 class="mb-3">Reset your password</h3>
            <form id="resetPasswordForm" name="resetPasswordForm" action="#" data-th-action="@{/reset-password}" data-th-object="${changePasswordRequest}" method="POST">
                <div data-th-if="${#fields.hasGlobalErrors()}" class="alert alert-danger col-sm-5" role="alert">
                    <span data-th-each="err : ${#fields.globalErrors()}" data-th-text="${err}">global error</span>
                </div>
                <!-- Password -->
                <div class="form-label-group">
                    <input type="password" id="password" class="form-control" name="password"
                           data-th-class="${#fields.hasErrors('password')}? 'form-control is-invalid' : 'form-control'"
                           data-th-field="*{password}"
                           placeholder="Password" required>
                    <div class="invalid-feedback" data-th-errors="*{password}">Password error</div>
                    <label for="password">Password</label>
                </div>

                <!-- Verify Password -->
                <div class="form-label-group">
                    <input type="password" id="verify-password" class="form-control" name="verify-password"
                           data-th-class="${#fields.hasErrors('verifyPassword')}? 'form-control is-invalid' : 'form-control'"
                           data-th-field="*{verifyPassword}"
                           placeholder="Password" required>
                    <div class="invalid-feedback" data-th-errors="*{verifyPassword}">Verify password error</div>
                    <label for="verify-password">Verify Password</label>
                </div>

                <input type="hidden" id="tokenString" data-th-value="*{tokenString}" data-th-field="*{tokenString}" value=""/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

            <div class="row">
                <div class="col-md-12">
                    New user? <a href="#" data-th-href="@{/register}" data-th-text="#{index.register}">Register</a>
                </div>
                <div class="col-md-12">
                    Already registered? <a href="#" data-th-href="@{/login}" data-th-text="#{index.login}">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>