application:
  host: http://localhost

spring:
  application:
    name: Metal Detector
  datasource:
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    url: ${DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    hikari:
      max-lifetime: 1200000
    platform: postgres
    initialization-mode: always
  flyway:
    baseline-on-migrate: true
    sql-migration-prefix: v
  jpa:
    properties:
      hibernate:
        # The SQL dialect makes Hibernate generate better SQL for the chosen database
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate # (create, create-drop, validate, update)
    open-in-view: false
  cache:
    jcache:
      config: classpath:config/cache/ehcache.xml
  mail:
    properties:
      from: notifications@metal-detector.rocks
  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

security:
  token-issuer: ${JWT_ISSUER}
  token-secret: ${JWT_SECRET}
  remember-me-secret: ${REMEMBER_ME_SECRET}

server:
  port: 8080
  error:
    whitelabel:
      enabled: true
    path: /error
  tomcat:
    accesslog:
      enabled: true

logging:
  config: classpath:config/logging/logback-spring.xml

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info, metrics, prometheus, flyway

discogs:
  access-token: ${DISCOGS_ACCESS_TOKEN}
  rest-base-url: https://api.discogs.com
  user-agent: MetalDetector/0.1 +https://metal-detector.rocks

spotify:
  client-id: ${SPOTIFY_CLIENT_ID}
  client-secret: ${SPOTIFY_CLIENT_SECRET}
  rest-base-url: https://api.spotify.com
  authentication-base-url: https://accounts.spotify.com

metal-release-butler:
  host: http://localhost:8095
  releases-url: ${metal-release-butler.host}/rest/v1/releases
  unpaginated-releases-url: ${metal-release-butler.host}/rest/v1/releases/unpaginated
  import-url: ${metal-release-butler.host}/rest/v1/releases/import
  retry-cover-download-url: ${metal-release-butler.host}/rest/v1/releases/cover-reload
  access-token: ${BUTLER_ACCESS_TOKEN}

log-csp-report: false
