<!DOCTYPE html>
<html layout:decorate="~{email/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Account deleted</title>
</head>
<body>
<section layout:fragment="content">
    <p>
        Hi <span th:text="${username}">username</span>
    </p>
    <p>
        Your account and all related data on metal-detector.rocks have been deleted successfully.
    </p>
    <p>Cheers!</p>
</section>
</body>
</html>
