<!DOCTYPE html>
<html layout:decorate="~{email/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>A request to reset your password</title>
</head>
<body>
    <section layout:fragment="content">
        <p>
            Hi <span th:text="${username}">username</span>
        </p>
        <p>
            Someone has requested to reset your password. If this was not you, please ignore this email.
            Otherwise please click on the button below to set a new password.
        </p>
        <div class="text-center">
            <a href='#' th:href="@{${resetPasswordUrl}}" class="button">Set a new password</a>
            <p class="hint">This link will expire in 1 hour.</p>
        </div>
    </section>
</body>
</html>
