<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="h4">Privacy Policy</h1>
    <h2 class="h5">1. An overview of data protection</h2>
    <h3 class="h5">General</h3>
    <p>
        At Metal Detector, accessible from https://metal-detector.rocks, one of our main priorities is the privacy of our visitors. This
        Privacy Policy document contains types of information that is collected and recorded by Metal Detector and how we use it.
    </p>
    <p>
        If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
    </p>
    <p>
        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information
        that they shared and/or collect in Metal Detector. This policy is not applicable to any information collected offline or via channels
        other than this website.
    </p>
    <p>
        Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info" target="_blank">Privacy Policy Generator</a>
        and the <a href="https://www.generateprivacypolicy.com/#wizard" target="_blank">Free Privacy Policy Generator</a>.
    </p>

    <h3 class="h5">Consent</h3>
    <p>
        By using our website, you hereby consent to our Privacy Policy and agree to its terms.
    </p>

    <h3 class="h5">Information we collect</h3>
    <p>
        The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you
        at the point we ask you to provide your personal information.
    </p>
    <p>
        If you contact us directly, we may receive additional information about you such as your name, email address, the contents of the
        message and/or attachments you may send us, and any other information you may choose to provide.
    </p>
    <p>
        When you register for an Account, we may ask for your contact information, including items such as name and email address.
    </p>

    <h3 class="h5">How we use your information</h3>
    <p>
        We use the information we collect in various ways, including to:
    </p>
    <ul>
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with
            updates and other information relating to the website, and for marketing and promotional purposes</li>
        <li>Send you emails</li>
        <li>Find and prevent fraud</li>
    </ul>

    <h2 class="h5">3. General information and mandatory information</h2>
    <h3 class="h5">Third Party Privacy Policies</h3>
    <p>
        Metal Detector's Privacy Policy does not apply to other websites. Thus, we are advising you to consult the respective
        Privacy Policies of these third-party websites for more detailed information. It may include their practices and instructions
        about how to opt-out of certain options.
    </p>
    <p>
        You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management
        with specific web browsers, it can be found at the browsers' respective websites.
    </p>

    <h3 class="h5">GDPR Data Protection Rights</h3>
    <p>
        We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
    </p>
    <ul>
        <li>The right to access – You have the right to request copies of your personal data.</li>
        <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also
            have the right to request that we complete the information you believe is incomplete.</li>
        <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
        <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data,
            under certain conditions.</li>
        <li>The right to object to processing – You have the right to object to our processing of your personal data,
            under certain conditions.</li>
        <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another
            organization, or directly to you, under certain conditions.</li>
        <li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
            please contact us.</li>
    </ul>

    <h3 class="h5">Information about the responsible party (referred to as the „controller“ in the GDPR)</h3>
    <p>
        The data processing controller on this website is:
    </p>
    <p>
        Daniel Wagner<br />
        Flutstr. 2<br />
        12439 Berlin
    </p>
    <p>
        E-mail: admin@metal-detector.rocks
    </p>
    <p>
        The controller is the natural person or legal entity that single-handedly or jointly with others makes decisions as to the purposes
        of and resources for the processing of personal data (e.g. names, e-mail addresses, etc.).
    </p>

    <h3 class="h5">Children's Information</h3>
    <p>
        Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to
        observe, participate in, and/or monitor and guide their online activity.
    </p>
    <p>
        Metal Detector does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that
        your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our
        best efforts to promptly remove such information from our records.
    </p>

    <h2 class="h5">4. Recording of data on this website</h2>
    <h3 class="h5">Cookies</h3>
    <p>
        Metal Detector only uses strictly necessary cookies. For more general information on cookies, please read
        <a href="https://www.cookieconsent.com/what-are-cookies/" target="_blank"> "What Are Cookies" from Cookie Consent</a>.

        We use cookies solely to provide, secure, and improve our service. For example, we use them to keep you logged in, remember your
        preferences, identify your device for security purposes, analyze your use of our service. We do not use any third-party analytics
        service providers.

        By using our website, you agree that we can place these types of cookies on your computer or device. If you disable your browser or
        device’s ability to accept these cookies, you will not be able to log in to our website.
    </p>

    <h3 class="h5">Log Files</h3>
    <p>
        Metal Detector follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting
        companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP)
        addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of
        clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing
        trends, administering the site, tracking users' movement on the website, and gathering demographic information.
    </p>

    <h3 class="h5">Contact form</h3>
    <p>
        If you submit inquiries to us via our contact form, the information provided in the contact form as well as any contact information
        provided therein will be stored by us in order to handle your inquiry and in the event that we have further questions. We will not
        share this information without your consent.
    </p>
    <p>
        The processing of these data is based on Art. 6 para. 1 lit. b GDPR, if your request is related to the execution of a contract or
        if it is necessary to carry out pre-contractual measures. In all other cases the processing is based on our legitimate interest in
        the effective processing of the requests addressed to us (Art. 6 Para. 1 lit. f DSGVO) or on your agreement (Art. 6 Para. 1 lit. a DSGVO)
        if this has been requested.
    </p>
    <p>
        The information you have entered into the contact form shall remain with us until you ask us to eradicate the data, revoke your
        consent to the archiving of data or if the purpose for which the information is being archived no longer exists (e.g. after we have
        concluded our response to your inquiry). This shall be without prejudice to any mandatory legal provisions – in particular retention periods.
    </p>

    <h3 class="h5">Registration on this website</h3>
    <p>
        You have the option to register on this website to be able to use additional website functions. We shall use the data you enter only
        for the purpose of using the respective offer or service you have registered for. The required information we request at the time
        of registration must be entered in full. Otherwise we shall reject the registration.
    </p>
    <p>
        To notify you of any important changes to the scope of our portfolio or in the event of technical modifications, we shall use the
        e-mail address provided during the registration process.
    </p>
    <p>
        We shall process the data entered during the registration process on the basis of your consent (Art. 6 Sect. 1 lit. a GDPR).
    </p>
    <p>
        The data recorded during the registration process shall be stored by us as long as you are registered on this website. Subsequently,
        such data shall be deleted. This shall be without prejudice to mandatory statutory retention obligations.
    </p>

    <h2 class="h5">5. Plug-ins and Tools</h2>
    <h3 class="h5">YouTube with expanded data protection integration</h3>
    <p>
        Our website embeds videos of the website YouTube. The website operator is Google Ireland Limited („Google“), Gordon House, Barrow
        Street, Dublin 4, Ireland.
    </p>
    <p>
        We use YouTube in the expanded data protection mode. According to YouTube, this mode ensures that YouTube does not store any
        information about visitors to this website before they watch the video. Nevertheless, this does not necessarily mean that the sharing
        of data with YouTube partners can be ruled out as a result of the expanded data protection mode. For instance, regardless of whether
        you are watching a video, YouTube will always establish a connection with the Google DoubleClick network.
    </p>
    <p>
        As soon as you start to play a YouTube video on this website, a connection to YouTube’s servers will be established. As a result,
        the YouTube server will be notified, which of our pages you have visited. If you are logged into your YouTube account while you
        visit our site, you enable YouTube to directly allocate your browsing patterns to your personal profile. You have the option to
        prevent this by logging out of your YouTube account.
    </p>
    <p>
        Furthermore, after you have started to play a video, YouTube will be able to place various cookies on your device. With the assistance
        of these cookies, YouTube will be able to obtain information about our website's visitors. Among other things, this information will
        be used to generate video statistics with the aim of improving the user friendliness of the site and to prevent attempts to commit
        fraud. These cookies will stay on your device until you delete them.
    </p>
    <p>
        Under certain circumstances, additional data processing transactions may be triggered after you have started to play a YouTube video,
        which are beyond our control.
    </p>
    <p>
        The use of YouTube is based on our interest in presenting our online content in an appealing manner. Pursuant to Art. 6 Sect. 1
        lit. f GDPR, this is a legitimate interest. If a corresponding agreement has been requested (e.g. an agreement to the storage of
        cookies), the processing takes place exclusively on the basis of Art. 6 para. 1 lit. a GDPR; the agreement can be revoked at any time.
    </p>
    <p>
        For more information on how YouTube handles user data, please consult the YouTube Data Privacy Policy under: <br />
        <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>.
    </p>

    <h3 class="h5">Google Web Fonts</h3>
    <p>
        To ensure that fonts used on this website are uniform, this website uses so-called Web Fonts provided by Google. When you access a
        page on our website, your browser will load the required web fonts into your browser cache to correctly display text and fonts.
    </p>
    <p>
        To do this, the browser you use will have to establish a connection with Google’s servers. As a result, Google will learn that your
        IP address was used to access this website. The use of Google Web Fonts is based on our interest in presenting our online content
        in a uniform and appealing way. According to Art. 6 Sect. 1 lit. f GDPR, this is a legitimate interest.
    </p>
    <p>
        If your browser should not support Web Fonts, a standard font installed on your computer will be used.
    </p>
    <p>
        For more information on Google Web Fonts, please follow this link: <br />
        <a href="https://developers.google.com/fonts/faq" target="_blank">https://developers.google.com/fonts/faq</a> and consult Google’s Data Privacy
        Declaration under: <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>.
    </p>
</div>
</body>
</html>
