<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="headerFragment">
    <title th:include=":: #pageTitle">Dynamic page title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/admin.css}" href="#" rel="stylesheet" />
    <link th:href="@{/css/common.css}" href="#" rel="stylesheet" />

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>
    <script th:src="@{/js/common.js}" src="#"></script>

    <!-- Material Icons -->
    <link th:href="@{/webjars/material-icons/iconfont/material-icons.css}" href="/webjars/material-icons/0.3.1/iconfont/material-icons.css" rel="stylesheet">

    <!-- ToDo: Include JavaScript and CSS files only on the pages where they are actually needed (https://trello.com/c/OS3QBFFS) -->
    <script th:src="@{/js/admin/users.js}" src="#"></script>
    <link th:href="@{/css/datatables.custom.css}" href="#" rel="stylesheet" />
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" src="#"></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}" src="#"></script>
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" href="#" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Top Navbar-->
    <div class="topbar shadow">
        <nav class="navbar navbar-dark">
            <a href="#" th:href="@{/admin}">
                <img alt="Logo" th:src="@{/images/logo.png}" src="#" width="300" />
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item"><a th:href="@{/admin/notifications}" href="#" class="nav-link"><i class="material-icons" style="padding-top: 0.2rem">notifications</i></a></li>
                <li class="nav-item"><a th:href="@{/}" href="#" target="_blank" class="nav-link"><i class="material-icons" style="padding-top: 0.2rem">public</i></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="#" th:src="@{/images/dummy-profile-picture.jpg}" alt="Profile photo" height="30" width="30" class="avatar border border-white" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                        <p class="pl-4">Signed in as <span sec:authentication="name" class="font-weight-bold">Username</span></p>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/admin/profile}"><i class="material-icons pr-2">person</i>Profile</a>
                        <a id="logout-link" class="dropdown-item" href="#" th:href="@{/logout}"><i class="material-icons pr-2">exit_to_app</i>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
    </form>

    <!-- Sidebar -->
    <div class="sidebar border-right">
        <ul class="nav flex-column pt-2">
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin'}? 'active' : ''" class="text-dark px-4 py-3">
                    <i class="material-icons pr-2">house</i>Dashboard
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/import}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/import'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pr-2">import_export</i>Import
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/analytics}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/analytics'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pr-2">timeline</i>Analytics
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/users}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/users'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pr-2">people</i>Users
                </a>
            </li>
            <li class="nav-item h5">
                <a href="#" th:href="@{/admin/settings}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/settings'}? 'active' : ''" class="text-dark px-4 py-3 ">
                    <i class="material-icons pr-2">build</i>Settings
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <main role="main" class="px-3 py-3">
        <div class="content">
            <th:block th:include="${template}" />
        </div>
    </main>

    <!-- Footer -->
    <footer></footer>

    <script>
        $(document).ready( function() {
            registerLogoutListener();
        });
    </script>
</body>
</html>
