<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="headerFragment">
        <title th:include=":: #pageTitle">Dynamic page title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

        <!-- CSS -->
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/admin.css}" href="#" rel="stylesheet" />

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/webjars/jquery/jquery.min.js}" src="#"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}" src="#"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="#"></script>

        <!-- Material Icons -->
        <link th:href="@{/webjars/material-icons/iconfont/material-icons.css}" href="/webjars/material-icons/0.3.1/iconfont/material-icons.css" rel="stylesheet">
    </head>
    <body>

        <!-- top bar -->
        <nav th:fragment="copy" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Area</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">

                <!-- side navigation bar -->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/users">
                                    Users
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Foobar</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Other...
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- main content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
                    <th:block th:include="${template}" />
                </main>

            </div>
        </div>

        <footer>
        </footer>

    </body>
</html>
