name: Continous Integration

on:
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Execute all tests
        uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 6.7.1
          arguments: clean test
