<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Account Details</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/account_details.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div th:replace="frontend/fragments/settings-menu :: settings-menu"></div>
            <div class="col-8">
                <div class="alert alert-warning" role="alert">
                    <span class="material-icons">warning</span> This page is currently under construction and does not have any
                    functionality that brings you added value. Please come back here later.
                </div>
                <h2 class="h5 mt-3">Change email address</h2>
                <hr class="border-secondary"/>
                <div class="form-group col-5 px-0">
                    <label for="email-address">Email address</label>
                    <input type="email" class="form-control custom-form-control" id="email-address" name="emailAddress">
                </div>
                <button id="update-email-address" class="btn btn-secondary mt-2">Update email address</button>

                <h2 class="h5 mt-5">Change password</h2>
                <hr class="border-secondary"/>
                <form>
                    <div class="form-group col-5 px-0">
                        <label for="old-password">Old password</label>
                        <input type="password" class="form-control custom-form-control" id="old-password" autocomplete="current-password">
                    </div>
                    <div class="form-group col-5 px-0">
                        <label for="new-password">New password</label>
                        <input type="password" class="form-control custom-form-control" id="new-password" autocomplete="new-password">
                    </div>
                    <div class="form-group col-5 px-0">
                        <label for="confirm-password">Confirm password</label>
                        <input type="password" class="form-control custom-form-control" id="confirm-password" autocomplete="new-password">
                    </div>
                    <p class="text-muted">Make sure your new password has at least 8 characters.</p>
                    <button type="submit" class="btn btn-secondary">Update password</button>
                </form>

                <h2 class="h5 mt-5">Delete account</h2>
                <hr class="border-secondary"/>
                <p>Let your account go to hell!</p>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-account-dialog">Delete account</button>

                <div id="delete-account-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog default-modal-dialog-width">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="small" role="alert">
                                    <p>Dou you really want to delete your account? All data related to your account will be lost.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="delete-account" type="button" class="btn btn-danger" >Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
