<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Home</title>
    <script type="module" th:src="@{/ts/dist/homepage.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="artist-card">
            <div class="card dark-card swiper-slide unselectable mb-3">
                <img class="vertical-card-img" src="#" alt="" id="artist-thumb">
                <div id="follow-icon" class="top-right follow-icon-my-artists">
                    <img src="#" th:src="@{/images/pommesgabel.svg}" alt="follow" width="32">
                </div>
                <div class="card-body dark-card-body">
                    <p class="h5 card-title" id="artist-name"></p>
                </div>
                <div class="card-footer dark-card-footer text-muted" id="artist-sub-title">
                </div>
            </div>
        </template>
        <template id="release-card">
            <div class="card dark-card swiper-slide unselectable mb-3">
                <img class="vertical-card-img" src="#" alt="" id="release-cover">
                <div class="card-body dark-card-body">
                    <p class="h5 card-title" id="release-artist-name"></p>
                    <p class="card-subtitle font-size-s" id="release-title"></p>
                </div>
                <div class="card-footer dark-card-footer text-muted" id="release-date">
                </div>
            </div>
        </template>

        <h1 class="h4">Hell Yeah, <span th:text="${username}">Username</span>!</h1>

        <div id="dashboard-container" class="mb-3">
        </div>
    </section>
</body>
</html>
