<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Dashboard</title>
    <script type="module" th:src="@{/ts/dist/dashboard.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <!-- TEMPLATES -->
        <template id="artist-template">
            <div class="swiper-item swiper-slide">
                <div class="overlay-container">
                    <img src="#" alt="" id="artist-image" class="img-round swiper-image">
                    <div class="overlay">
                        <div id="follow-icon" class="pointer">
                            <img src="#" th:src="@{/images/pommesgabel.svg}" alt="follow" width="45">
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <span class="swiper-title" id="artist-name"></span>
                </div>
                <div class="text-muted font-size-s" id="artist-sub-title"></div>
            </div>
        </template>
        <template id="release-template">
            <div class="swiper-item swiper-slide">
                <img src="#" alt="" id="release-cover" class="img-round swiper-image">
                <div class="mt-2">
                    <span class="swiper-title" id="release-artist"></span>
                </div>
                <div>
                    <span class="swiper-subtitle font-size-s" id="release-title"></span>
                </div>
                <div class="text-muted font-size-s" id="release-date"></div>
            </div>
        </template>
        <!-- TEMPLATES END -->

        <h1 class="h4">Hell Yeah, <span th:text="${username}">Username</span>!</h1>

        <div id="dashboard-container" class="mb-3">
        </div>
    </section>
</body>
</html>
