<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Home</title>
    <script type="module" th:src="@{/ts/dist/homepage.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="artist-card">
            <div class="col-lg-3">
                <div class="card mb-3">
                    <img class="vertical-card-img" src="#" alt="" id="thumb">
                    <div class="card-body">
                        <p class="h5 card-title" id="artist-name"></p>
                    </div>
                    <div class="card-footer text-muted" id="followed-since">
                    </div>
                </div>
            </div>
        </template>

        <h1 class="h4">Hell Yeah, <span sec:authentication="name">Username</span>!</h1>

        <div id="home-container" class="mb-3">
            <h2 class="h5 mt-4 mb-2">Recently followed artists</h2>
            <div id="recently-followed-row" class="row"></div>
        </div>
    </section>
</body>
</html>
