<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>My Artists</title>
    <script th:nonce="script-+${random}" type="module" th:src="@{/ts/dist/myartists.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="artist-card">
            <div class="col-lg-3">
                <div class="card mb-3">
                    <img class="vertical-card-img" src="#" alt="" id="thumb">
                    <div class="top-right pointer" id="follow-icon"><i class="material-icons md-30 md-red">favorite</i></div>
                    <div class="card-body">
                        <p class="h5 card-title" id="artist-name"></p>
                    </div>
                    <div class="card-footer text-muted" id="followed-since">
                    </div>
                </div>
            </div>
        </template>

        <h1 class="h4">My Artists</h1>
        <div id="artists-container" class="mb-3">
            <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" id="spotify-import-button">Import from Spotify</button>
        </div>
    </section>
</body>
</html>
