<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>My Artists</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/my_artists.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="artist-card">
            <div class="card mb-3 flex-item">
                <img src="#" alt="" id="thumb">
                <div class="top-right follow-icon-my-artists" id="follow-icon">
                    <img src="#" th:src="@{/images/pommesgabel.svg}" alt="follow" width="32">
                </div>
                <div class="card-body">
                    <p class="card-title" id="artist-name"></p>
                </div>
                <div class="card-footer text-muted" id="followed-since">
                </div>
            </div>
        </template>

        <h1 class="h4">My Artists</h1>
        <div id="my-artists-wrapper" class="mb-3 flex-wrapper">
        </div>
    </section>
</body>
</html>

<!--ToDo: Pagination hängt noch schief bei <4 Cards-->
<!--ToDo: Lange Bandnamen testen-->
<!--ToDo: Langes Datum testen-->
<!--ToDo: Bands mit unsynchronen Fotos-->