<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Notification Settings</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/notification_settings.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <div id="notification-settings-container">
            <h1 class="h5 mt-3">Notification Settings</h1>
            <hr class="border-secondary"/>
            <p>
                You can receive notifications about current or upcoming releases at a frequency of two or four weeks. These notifications
                are always sent on Sundays. It is also possible to be notified on the release date or the day a new release is announced.
            </p>
            <p>
                All you need to do is configuring your preferred channels.
            </p>
            <!-- Email Config -->
            <div class="accordion" id="notification-configs">
                <div class="card">
                    <div class="card-header" id="email-notification">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#email-notification-config" aria-expanded="false" aria-controls="email-notification-config">
                                <span class="material-icons">email</span><span class="ms-2 h5">Email</span>
                            </button>
                        </h2>
                    </div>
                    <div id="email-notification-config" class="collapse collapse-content" aria-labelledby="email-notification" data-parent="#notification-configs">
                        <div class="card-body dark-card-body">
                            <fieldset>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold">Periodic notifications</label><br />
                                    <div class="form-group">
                                        <div class="custom-control custom-radio mb-2">
                                            <input type="radio" id="email-none-rb" name="email-regular-notification-frequency" class="custom-control-input">
                                            <label class="custom-control-label" for="email-none-rb">None</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-2">
                                            <input type="radio" id="email-2-weekly-rb" name="email-regular-notification-frequency" class="custom-control-input">
                                            <label class="custom-control-label" for="email-2-weekly-rb">2-weekly</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-2">
                                            <input type="radio" id="email-4-weekly-rb" name="email-regular-notification-frequency" class="custom-control-input">
                                            <label class="custom-control-label" for="email-4-weekly-rb">4-weekly</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold" id="extra-notifications-label">Extra notifications</label><br />
                                    <div class="custom-control custom-switch mb-2">
                                        <input type="checkbox" class="custom-control-input" id="email-release-date-notification-toggle">
                                        <label class="custom-control-label" for="email-release-date-notification-toggle">Notification on release date</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="email-announcement-date-notification-toggle">
                                        <label class="custom-control-label" for="email-announcement-date-notification-toggle">Notification on announcement date</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <!-- Telegram Config -->
                <div class="card">
                    <div class="card-header" id="telegram-notification">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#telegram-notification-config" aria-expanded="false" aria-controls="telegram-notification-config">
                                <span class="material-icons">phone_android</span><span class="ms-2 h5">Telegram</span>
                            </button>
                        </h2>
                    </div>
                    <div id="telegram-notification-config" class="collapse collapse-content" aria-labelledby="telegram-notification" data-parent="#notification-configs">
                        <div class="card-body dark-card-body">
                            <div id="telegram-area">
                                <div id="telegram-activation-area">
                                    <p>
                                        To activate telegram notifications do the following:
                                    </p>
                                    <ol>
                                        <li>Generate a registration ID below.</li>
                                        <li>Send this ID as text message to our bot <span class="font-weight-bold">metal_detector_notification_bot</span> via your telegram app.</li>
                                        <li>Come back here again and reload the page.</li>
                                        <li>Finally you can configure which notifications you want to receive from the bot.</li>
                                    </ol>
                                    <div class="form-group">
                                        <button class="btn btn-secondary" id="telegram-id-button">Generate registration ID</button>
                                    </div>
                                </div>
                                <div id="telegram-deactivation-area">
                                    <fieldset>
                                        <div class="form-group mb-4">
                                            <label class="font-weight-bold">Periodic notifications</label><br />
                                            <div class="form-group">
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="telegram-none-rb" name="telegram-regular-notification-frequency" class="custom-control-input">
                                                    <label class="custom-control-label" for="telegram-none-rb">None</label>
                                                </div>
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="telegram-2-weekly-rb" name="telegram-regular-notification-frequency" class="custom-control-input">
                                                    <label class="custom-control-label" for="telegram-2-weekly-rb">2-weekly</label>
                                                </div>
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="telegram-4-weekly-rb" name="telegram-regular-notification-frequency" class="custom-control-input">
                                                    <label class="custom-control-label" for="telegram-4-weekly-rb">4-weekly</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="font-weight-bold">Extra notifications</label><br />
                                            <div class="custom-control custom-switch mb-2">
                                                <input type="checkbox" class="custom-control-input" id="telegram-release-date-notification-toggle">
                                                <label class="custom-control-label" for="telegram-release-date-notification-toggle">Notification on release date</label>
                                            </div>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="telegram-announcement-date-notification-toggle">
                                                <label class="custom-control-label" for="telegram-announcement-date-notification-toggle">Notification on announcement date</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-danger btn-lg disabled" id="deactivate-telegram-button">
                                            <span class="material-icons">delete</span> Delete configuration
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
