<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Notification Settings</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/notification_settings.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <div id="notification-settings-container">
            <h1 class="h5 mt-4">Notification Settings</h1>
            <hr class="border-bottom"/>
            <p>
                You can receive notifications about current or upcoming releases at a frequency of two or four weeks. These notifications
                are always sent on Sundays. It is also possible to be notified on the release date or the day a new release is announced.
            </p>
            <p>
                All you need to do is configuring your preferred channels.
            </p>
            <!-- Email Config -->
            <div class="accordion grey-border" id="notification-configs">
                <div class="accordion-item dark-accordion-item">
                    <h2 class="accordion-header" id="email-notification">
                        <button class="accordion-button dark-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#email-notification-config" aria-expanded="false" aria-controls="email-notification-config">
                            <span class="material-icons md-light">email</span><span class="ms-3 mb-0 h5">Email</span>
                        </button>
                    </h2>
                    <div id="email-notification-config" class="accordion-collapse collapse" aria-labelledby="email-notification" data-bs-parent="#notification-configs">
                        <div class="accordion-body dark-card-body">
                            <fieldset>
                                <div class="mb-4">
                                    <label class="fw-bolder mb-2">Periodic notifications</label><br />
                                    <div class="form-check mb-2">
                                        <input type="radio" id="email-none-rb" name="email-regular-notification-frequency" class="form-check-input">
                                        <label class="form-check-label" for="email-none-rb">None</label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="radio" id="email-2-weekly-rb" name="email-regular-notification-frequency" class="form-check-input">
                                        <label class="form-check-label" for="email-2-weekly-rb">2-weekly</label>
                                    </div>
                                    <div class="custom-control form-check mb-2">
                                        <input type="radio" id="email-4-weekly-rb" name="email-regular-notification-frequency" class="form-check-input">
                                        <label class="form-check-label" for="email-4-weekly-rb">4-weekly</label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="fw-bolder mb-2">Extra notifications</label><br />
                                    <div class="form-check form-switch mb-2">
                                        <input type="checkbox" class="form-check-input" id="email-release-date-notification-toggle">
                                        <label class="form-check-label" for="email-release-date-notification-toggle">Notification on release date</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="email-announcement-date-notification-toggle">
                                        <label class="form-check-label" for="email-announcement-date-notification-toggle">Notification on announcement date</label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="fw-bolder mb-2">Reissue notifications</label><br />
                                    <div class="form-check form-switch mb-2">
                                        <input type="checkbox" class="form-check-input" id="email-reissue-notification-toggle">
                                        <label class="form-check-label" for="email-reissue-notification-toggle">Notifications for reissues or re-releases</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <!-- Telegram Config -->
                <div class="accordion-item dark-accordion-item">
                    <h2 class="accordion-header" id="telegram-notification">
                        <button class="accordion-button dark-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#telegram-notification-config" aria-expanded="false" aria-controls="telegram-notification-config">
                            <span class="material-icons md-light">phone_android</span><span class="ms-3 mb-0 h5">Telegram</span>
                        </button>
                    </h2>
                    <div id="telegram-notification-config" class="accordion-collapse collapse" aria-labelledby="telegram-notification" data-bs-parent="#notification-configs">
                        <div class="accordion-body dark-card-body">
                            <div id="telegram-area">
                                <div id="telegram-activation-area">
                                    <p>
                                        To activate telegram notifications do the following:
                                    </p>
                                    <ol>
                                        <li>Generate a registration ID below.</li>
                                        <li>Send this ID as text message to our bot <span class="font-weight-bold">metal_detector_notification_bot</span> via your telegram app.</li>
                                        <li>Come back here again and reload the page.</li>
                                        <li>Finally you can configure which notifications you want to receive from the bot.</li>
                                    </ol>
                                    <button class="btn btn-outline-success" id="telegram-id-button">Generate registration ID</button>
                                </div>
                                <div id="telegram-deactivation-area">
                                    <fieldset>
                                        <div class="mb-4">
                                            <label class="fw-bolder mb-2">Periodic notifications</label><br />
                                            <div class="form-check mb-2">
                                                <input type="radio" id="telegram-none-rb" name="telegram-regular-notification-frequency" class="form-check-input">
                                                <label class="form-check-label" for="telegram-none-rb">None</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input type="radio" id="telegram-2-weekly-rb" name="telegram-regular-notification-frequency" class="form-check-input">
                                                <label class="form-check-label" for="telegram-2-weekly-rb">2-weekly</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input type="radio" id="telegram-4-weekly-rb" name="telegram-regular-notification-frequency" class="form-check-input">
                                                <label class="form-check-label" for="telegram-4-weekly-rb">4-weekly</label>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="fw-bolder mb-2">Extra notifications</label><br />
                                            <div class="form-check form-switch mb-2">
                                                <input type="checkbox" class="form-check-input" id="telegram-release-date-notification-toggle">
                                                <label class="form-check-label" for="telegram-release-date-notification-toggle">Notification on release date</label>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" id="telegram-announcement-date-notification-toggle">
                                                <label class="form-check-label" for="telegram-announcement-date-notification-toggle">Notification on announcement date</label>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="fw-bolder mb-2">Reissue notifications</label><br />
                                            <div class="form-check form-switch mb-2">
                                                <input type="checkbox" class="form-check-input" id="telegram-reissue-notification-toggle">
                                                <label class="form-check-label" for="telegram-reissue-notification-toggle">Notifications for reissues or re-releases</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-outline-danger" id="deactivate-telegram-button">
                                        <span class="material-icons">delete</span> Delete configuration
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
