<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Profile</title>
    <script th:nonce="script-+${random}" type="module" th:src="@{/ts/dist/profile.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <h1 class="h4">Profile</h1>
        <div id="profile-container" class="mb-3">
            <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" id="authorization-button">Authorize Spotify</button>
        </div>
    </section>
</body>
</html>
