<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Releases</title>
    <script type="module" th:src="@{/ts/dist/releases.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="detailed-release-card">
            <div class="release-card dark-card-body mb-3">
                <div class="release-cover">
                    <img class="release-cover-img" src="#" alt="#" id="release-cover">
                </div>
                <div class="release-details px-3">
                    <p class="h5 card-title mt-3 mb-4" id="release-title"></p>
                    <div class="row d-md-none" id="additional-artists-wrapper">
                        <div class="col">
                            <p>
                                <strong>Additional artists</strong><br />
                                <span id="additional-artists"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <strong>Release date</strong><br />
                                <span id="release-date"></span>
                            </p>
                        </div>
                        <div class="col" id="announcement-date-wrapper">
                            <p>
                                <strong>Announcement date</strong><br />
                                <span id="announcement-date"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <strong>Type</strong><br />
                                <span id="release-type"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <strong>Genre</strong><br />
                                <span id="release-genre"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="reissue-wrapper">
                        <div class="col">
                            <p>
                                <strong>Reissue</strong><br />
                                <span id="reissue-text"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template id="releases-filter">
            <div class="sticky">
                <fieldset class="mb-4">
                    <legend>Search</legend>
                    <label>
                        <input id="release-search" type="text" class="form-control custom-form-control" placeholder="Artist or release title">
                    </label>
                </fieldset>
                <fieldset class="mb-4">
                    <legend>Sort</legend>
                    <div class="row mb-3">
                        <div class="col-auto col-form-label">
                            <label for="sort-property-selector">by</label>
                        </div>
                        <div class="col-auto ps-0">
                            <select class="form-select" id="sort-property-selector">
                                <option selected>Release date</option>
                                <option>Announcement date</option>
                            </select>
                        </div>
                    </div>
                    <form id="sorting-form">
                        <div class="form-check mb-1">
                            <input type="radio" id="sort-asc-rb" name="sorting" class="form-check-input" checked="">
                            <label class="form-check-label" for="sort-asc-rb">Ascending</label>
                        </div>
                        <div class="form-check mb-1">
                            <input type="radio" id="sort-desc-rb" name="sorting" class="form-check-input">
                            <label class="form-check-label" for="sort-desc-rb">Descending</label>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="mb-4" sec:authorize="isAuthenticated()">
                    <legend>Artists</legend>
                    <form id="release-filter-form">
                        <div class="form-check mb-1">
                            <input type="radio" id="all-artists-rb" name="releases" class="form-check-input" checked="">
                            <label class="form-check-label" for="all-artists-rb">All artists</label>
                        </div>
                        <div class="form-check mb-1">
                            <input type="radio" id="followed-artists-rb" name="releases" class="form-check-input">
                            <label class="form-check-label" for="followed-artists-rb">Only followed artists</label>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="mb-4">
                    <legend>Time</legend>
                    <div class="form-check mb-1">
                        <input type="radio" id="time-all-upcoming-rb" name="time" class="form-check-input" checked="">
                        <label class="form-check-label" for="time-all-upcoming-rb">All upcoming</label>
                    </div>
                    <div class="form-check mb-1">
                        <input type="radio" id="time-next-month-rb" name="time" class="form-check-input">
                        <label class="form-check-label" for="time-next-month-rb">Next 30 days</label>
                    </div>
                    <div class="form-check mb-1">
                        <input type="radio" id="time-last-month-rb" name="time" class="form-check-input">
                        <label class="form-check-label" for="time-last-month-rb">Last 30 days</label>
                    </div>
                </fieldset>
                <button class="btn btn-outline-success d-xl-none" id="filter-apply-button">
                    <span class="material-icons">task_alt</span> Apply
                </button>
            </div>
        </template>

        <div class="row">
            <div class="col-auto me-auto">
                <h1 class="h4">Releases</h1>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-outline-light d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                    <span class="material-icons">tune</span>
                </button>
            </div>
        </div>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas-label">
            <div class="offcanvas-header">
                <h5 id="offcanvas-label">Filtering and sorting</h5>
                <span class="material-icons material-icons md-light pointer" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
            </div>
            <div class="offcanvas-body" id="releases-filter-offcanvas"></div>
        </div>

        <div class="row mt-3">
            <div id="releases-wrapper">
                <div id="releases-container"></div>
                <div id="pagination-wrapper"></div>
            </div>
            <div id="releases-filter-canvas"></div>
        </div>
    </section>
</body>
</html>
