<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Releases</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/releases.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="detailed-release-card">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-auto">
                        <img class="release-cover-img" src="#" alt="#" id="release-cover">
                    </div>
                    <div class="col-7">
                        <p class="h5 card-title mt-3 mb-4" id="release-title"></p>
                        <div class="row" id="additional-artists-wrapper">
                            <div class="col">
                                <p>
                                    <strong>Additional artists</strong><br />
                                    <span id="additional-artists"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <strong>Release date</strong><br />
                                    <span id="release-date"></span>
                                </p>
                            </div>
                            <div class="col" id="announcement-date-wrapper">
                                <p>
                                    <strong>Announcement date</strong><br />
                                    <span id="announcement-date"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <strong>Type</strong><br />
                                    <span id="release-type"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <strong>Genre</strong><br />
                                    <span id="release-genre"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <h1 class="h4">Releases</h1>
        <div class="row">
            <div class="col-9" id="releases-container">
            </div>
            <div class="col-3 custom-border-left">
                <div class="sticky" id="release-filter">
                    <fieldset class="mb-3">
                        <legend>Search</legend>
                        <div class="form-group">
                            <label>
                                <input id="release-search" type="text" class="form-control custom-form-control" placeholder="Artist or release title">
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend>Sort</legend>
                        <div class="form-group row">
                            <label for="sort-property-selector" class="col-sm-3 col-form-label">by</label>
                            <div class="col-sm-6">
                                <select class="form-control sorting-form-control" id="sort-property-selector">
                                    <option>Release date</option>
                                    <option>Announcement date</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <form id="sorting-form">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="sort-asc-rb" name="releases" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="sort-asc-rb">Ascending</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="sort-desc-rb" name="releases" class="custom-control-input">
                                    <label class="custom-control-label" for="sort-desc-rb">Descending</label>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend>Artists</legend>
                        <div class="form-group">
                            <form id="release-filter-form">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="all-artists-rb" name="releases" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="all-artists-rb">All artists</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="followed-artists-rb" name="releases" class="custom-control-input">
                                    <label class="custom-control-label" for="followed-artists-rb">Only followed artists</label>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend>Time</legend>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="time-all-upcoming-rb" name="time" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="time-all-upcoming-rb">All upcoming</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="time-next-month-rb" name="time" class="custom-control-input">
                                <label class="custom-control-label" for="time-next-month-rb">Next 30 days</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="time-last-month-rb" name="time" class="custom-control-input">
                                <label class="custom-control-label" for="time-last-month-rb">Last 30 days</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
