<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Search</title>
    <script th:nonce="script-+${random}" type="module" th:src="@{/ts/dist/search.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="top-search-result">
            <div id="top-search-result-wrapper">
                <h2 class="h5">Top result</h2>
                <div class="row mb-5">
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-auto">
                                    <img id="top-thumb" class="top-search-card-img" src="#" alt="#">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p id="top-name" class="h4 card-title mt-3"></p>
                                        </div>
                                        <div id="top-follow-icon" class="col-md-auto">
                                            <i class="follow-icon float-right material-icons m-2"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p id="follow-info" class="h6 card-subtitle"></p>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </template>
        <template id="search-result">
            <div class="col-4">
                <div class="card">
                    <div class="row">
                        <div class="col-md-auto">
                            <img id="other-thumb" class="search-card-img" src="#" alt="#">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p id="other-name" class="h5 card-title mt-2"></p>
                                </div>
                                <div id="other-follow-icon" class="col-md-auto">
                                    <i class="follow-icon float-right material-icons m-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div id="search-result-container" class="mb-3"></div>
    </section>
</body>
</html>
