<!DOCTYPE html>
<html th:replace="~{frontend/fragments/layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="frontend/fragments/layout :: headerFragment">
        <title id="pageTitle">Search | Metal Detector</title>
    </head>
    <body>
    <h1 class="h4">Search</h1>
    <div id="searchResultsContainer" class="mb-3"></div>
    <div id="noResultsMessageContainer"></div>
    <script th:inline="javascript">
      $(document).ready(function () {
        search()
      })
    </script>
    </body>
</html>
