<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Search</title>
    <script th:nonce="${random}" type="module" th:src="@{/ts/dist/search.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <template id="search-result">
            <div class="row mb-3 search-result-item">
                <div class="col-md-auto">
                    <img id="thumb" class="search-card-img" src="#" alt="#">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p id="name" class="h4 card-title mt-3"></p>
                        </div>
                        <div id="follow-icon" class="col-md-auto follow-icon-search">
                            <img src="#" th:src="@{/images/pommesgabel.svg}" alt="follow" width="30">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="genres"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p id="follow-info" class="h6 card-subtitle"></p>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div id="search-result-wrapper" class="mb-3"></div>
        <div id="pagination-wrapper" class="justify-content-center mt-5"></div>
    </section>
</body>
</html>
