<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Settings</title>
    <script type="module" th:src="@{/ts/dist/settings.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <div id="settings-container" class="mb-3">
            <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" id="authorization-button">Authorize Spotify</button>
            <div class="row">
                <div class="col-4">
                    <!--                ToDo DanielW: Menü auslagern-->
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="#" th:href="@{/settings/account-details}">Account details</a>
                        <a class="list-group-item list-group-item-action" href="#" th:href="@{/settings/spotify-synchronization}">Spotify synchronization</a>
                        <a class="list-group-item list-group-item-action" href="#" th:href="@{/settings/notification-settings}">Notification settings</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
