<!DOCTYPE html>
<html layout:decorate="~{frontend/fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Spotify Synchronization</title>
    <script type="module" th:src="@{/ts/dist/settings.bundle.js}" src="#"></script>
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div th:replace="frontend/fragments/settings-menu :: settings-menu"></div>
            <div class="col-8">
                <h2 class="h5 mt-3">Spotify Synchronization</h2>
                <button type="button" class="btn btn-dark btn-sm mt-2 mb-3" id="authorization-button">Authorize Spotify</button>
            </div>
        </div>
    </section>
</body>
</html>
